{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}公式難易度表 - スパランドットコム{% endblock %}

{% block extrahead %}
<meta name="description" content="スパランドットコムの公式難易度表ページです。">
{% endblock %}

{% block content %}
<h1 class="page-header">{% bootstrap_icon "list-alt" %} 公式難易度表</h1>

{% if messages %}
<ul id="message-box">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{% bootstrap_icon "info-sign" %} {{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div id="content"></div>
<script src="/static/react/assets/level_select.js"></script>
{% endblock %}
