{% extends "base.html" %}
{% load static %}
{% load bootstrap3 %}

{% block title %}公式難易度表(Lv{{ level }}) - スパランドットコム{% endblock %}

{% block extrahead %}
<meta property="og:title" content="公式難易度表(Lv{{ level }}) - スパランドットコム" />
<meta property="og:type" content="article" />
<meta name="description" content="スパランドットコムの公式難易度表ページです。(Lv{{ level }})">
{% endblock %}

{% block content %}
<h1 class="page-header">{% bootstrap_icon "list-alt" %} 公式難易度表</h1>

{% if messages %}
<ul id="message-box">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{% bootstrap_icon "info-sign" %} {{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<p><a href="{% url 'main:level_select' %}">{% bootstrap_icon "arrow-left" %} レベル選択へ戻る</a></p>

<h3 id="lv{{ level }}" class="level-folder {{ folder_status }}">Lv{{ level }}</h3>
<p style="text-align:right"><span style="font-weight:bold">{{ music_count }}</span> 件中 <span style="font-weight:bold">{{ music_list.start_index }} - {{ music_list.end_index }}</span> 件目</p>

<div id="lv{{ level }}-table">
    <table class="music-list table table-condensed">
        <thead>
            <th>S乱Lv</th>
            <th>曲名</th>
            <th>BPM</th>
            <th>メダル</th>
            <th>BAD数</th>
            <th>更新日時</th>
        </thead>
        <tbody>
        {% for data in music_list %}
        <tr id="music-{{ data.id }}" class="{{ data.clear_status }}">
            <td class="sran_level">{{ data.sran_level }}</td>
            <td class="title"><a href="{% url 'main:edit' data.id %}">{{ data.title }} ({{ data.difficulty }})</a></td>
            <td class="bpm">{{ data.bpm|default:'-' }}</td>
            <td class="medal">
                {% if data.medal and data.medal != 12 %}
                <img src="{% static '' %}img/medal/{{ data.medal }}.png" width="18" height="18">
                {% else %}
                -
                {% endif %}
            </td>
            <td class="bad_count">
                {% if data.bad_count == 0 %}
                0
                {% else %}
                {{ data.bad_count|default:'-' }}
                {% endif %}
            </td>
            <td class="updated_at">{{ data.updated_at|default:'-'|date:'Y/m/d H:i' }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div style="text-align:center">
    <ul class="pagination">
        {% if music_list.has_previous %}
        <li>
            <a href="?page={{ music_list.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true">前へ</span>
            </a>
        </li>
        {% endif %}

        {% for page in music_list.paginator.page_range %}
            {% if page == music_list.number %}
            <li class="active"><span>{{ page }}</span></li>
            {% else %}
            <li><a href="?page={{ page }}">{{ page }}</a></li>
            {% endif %}
        {% endfor %}

        {% if music_list.has_next %}
        <li>
            <a href="?page={{ music_list.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">次へ</span>
            </a>
        </li>
        {% endif %}
    </ul>
</div>

<p class="pagetop"><a href="#top">{% bootstrap_icon "menu-up" %}</a></p>
{% endblock %}
