{% extends "base.html" %}
{% load static %}
{% load bootstrap3 %}

{% block title %}公式難易度表 - スパランドットコム{% endblock %}

{% block extrahead %}
<meta property="og:title" content="公式難易度表 - スパランドットコム" />
<meta property="og:type" content="article" />
<meta name="description" content="スパランドットコムの公式難易度表ページです。">
<script src="{% static 'js/level_select.js' %}"></script>
{% endblock %}

{% block content %}
<h1 class="page-header">{% bootstrap_icon "list-alt" %} 公式難易度表</h1>

{% if messages %}
<ul id="message-box">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{% bootstrap_icon "info-sign" %} {{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% for lv in lv_range %}
<a href="{% url 'main:level' lv %}" class="no-decoration"><h3 id="lv{{ lv }}" class="level-folder">Lv{{ lv }}</h3></a>
<script>$(function() { getFolderLamp({{ lv }}, false); });</script>
{% endfor %}
{% endblock %}
