{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}公式難易度表(Lv{{ level }}) - スパランドットコム{% endblock %}

{% block extrahead %}
<meta name="description" content="スパランドットコムの公式難易度表ページです。(Lv{{ level }})">
<script src="/static/js/music_list.js?v=20160528a"></script>
{% endblock %}

{% block content %}
<h1 class="page-header">{% bootstrap_icon "list-alt" %} 公式難易度表</h1>

{% if messages %}
<ul id="message-box">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{% bootstrap_icon "info-sign" %} {{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<p><a href="{% url 'main:level_select' %}">{% bootstrap_icon "arrow-left" %} レベル選択へ戻る</a></p>

<h3 id="lv{{ level }}" class="level-folder">Lv{{ level }}</h3>
<div id="lv{{ level }}-table">
<table class="music-list table table-condensed">
    <thead>
        <th>S乱Lv</th>
        <th>曲名</th>
        <th>難易度</th>
        <th>BPM</th>
        <th>メダル</th>
        <th>BAD数</th>
        <th>更新日時</th>
    </thead>
    <tbody>
        {% for music in music_list %}
        <tr id="music-{{ music.id }}">
            <script>getClearStatus({{ music.id }});</script>
            <td class="sran_level">{{ music.sran_level }}</td>
            <td class="title"><a href="{% url 'main:edit' music.id %}">{{ music.title }}</a></td>
            <td class="difficulty">{{ music.difficulty }}</td>
            <td class="bpm">{{ music.bpm|default:'-' }}</td>
            <td class="medal">
                <div class="loading"></div>
                <img>
                <script>getMedal({{ music.id }});</script>
            </td>
            <td class="bad_count">
                <div class="loading"></div>
                <script>getBadCount({{ music.id }});</script>
            </td>
            <td class="updated_at">
                <div class="loading"></div>
                <script>getLatestUpdatedAt({{ music.id }});</script>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
<script>getFolderLamp({{ level }}, false)</script>

<p class="pagetop"><a href="#top">{% bootstrap_icon "menu-up" %}</a></p>
{% endblock %}
