{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}公式難易度表(Lv{{ level }}) - スパランドットコム{% endblock %}

{% block extrahead %}
<meta name="description" content="スパランドットコムの公式難易度表ページです。(Lv{{ level }})">
{% endblock %}

{% block content %}
<h1 class="page-header">{% bootstrap_icon "list-alt" %} 公式難易度表</h1>

{% if messages %}
<ul id="message-box">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{% bootstrap_icon "info-sign" %} {{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<p><a href="{% url 'main:level_select' %}">{% bootstrap_icon "arrow-left" %} レベル選択へ戻る</a></p>

<div id="content"></div>

<p class="pagetop"><a href="#top">{% bootstrap_icon "menu-up" %}</a></p>
<script src="/static/react/dist/difflist.js"></script>
{% endblock %}
