[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
appdirs = "==1.4.4"
asgiref = "==3.8.1"
asn1crypto = "==1.5.1"
attrs = "==23.2.0"
beautifulsoup4 = "==4.12.3"
certifi = "==2024.2.2"
cffi = "==1.16.0"
chardet = "==5.2.0"
cryptography = "==42.0.6"
defusedxml = "==0.7.1"
django-appconf = "==1.0.6"
django-bootstrap3 = "==24.2"
django-debug-toolbar = "==4.3.0"
django-maintenance-mode = "==0.21.1"
html5lib = "==1.1"
httplib2 = "==0.22.0"
idna = "==3.7"
importlib-metadata = "==7.1.0"
lxml = "==5.2.1"
oauth2 = "==1.9.0.post1"
oauthlib = "==3.2.2"
pycparser = "==2.22"
pyparsing = "==3.1.2"
python-dateutil = "==2.9.0.post0"
python3-openid = "==3.2.0"
requests = "==2.31.0"
requests-oauthlib = "==2.0.0"
six = "==1.16.0"
social-auth-app-django = "==5.4.0"
social-auth-core = "==4.5.3"
soupsieve = "==2.5"
sqlparse = "==0.5.0"
twitter = "==1.19.6"
urllib3 = "==2.2.1"
webencodings = "==0.5.1"
xerox = "==0.4.1"
zenhan = "==0.5.2"
zipp = "==3.18.1"
Django = "==4.2.4"
IPy = "==1.1"
PyJWT = "==2.8.0"
uvicorn = "==0.29.0"
django-environ = "==0.10.0"
google-cloud-storage = "==2.16.0"
django-storages = {extras = ["google"], version = "==1.14.2"}
slack-sdk = "==3.27.1"
psycopg = "==3.1.18"
psycopg-binary = "==3.1.18"

[dev-packages]
autopep8 = "==2.1.0"
flake8 = "==7.0.0"

[scripts]
test = "python manage.py test"
serve = "python main.py"
format = "autopep8 -ivr ."
lint = "flake8 --show-source ."
docker_up = "docker-compose up -d --build"
docker_down = "docker-compose down"

[requires]
python_version = "3.11"
