appdirs==1.4.3
beautifulsoup4==4.6.0
certifi==2018.1.18
chardet==3.0.4
defusedxml==0.5.0
Django==2.0.3
django-appconf==1.0.2
django-bootstrap3==9.1.0
django-compressor==2.2
django-debug-toolbar==1.9.1
django-filter==1.1.0
django-htmlmin==0.10.0
django-maintenance-mode==0.7.2
django-sslserver==0.20
djangorestframework==3.7.7
html5lib==1.0.1
httplib2==0.10.3
idna==2.6
IPy==0.83
oauth2==1.9.0.post1
oauthlib==2.0.6
packaging==17.1
PyJWT==1.6.1
PyMySQL==0.8.0
pyparsing==2.2.0
python-dateutil==2.7.0
python-openid==2.2.5
python-social-auth==0.3.6
python3-openid==3.1.0
pytz==2018.3
rcssmin==1.0.6
requests==2.18.4
requests-oauthlib==0.8.0
rjsmin==1.0.12
six==1.11.0
social-auth-app-django==2.1.0
social-auth-core==1.7.0
sqlparse==0.2.4
twitter==1.18.0
urllib3==1.22
webencodings==0.5.1
xerox==0.4.1
zenhan==0.5.2
