body {
    color: #c0c0c0;
    background-color: #222;
}

a, a:hover {
    color: #4183C4;
}

h1, h2, h3, h4, h5, h6 {
    color: #c0c0c0;
}

th {
    color: #c0c0c0;
}

input {
    color: #c0c0c0 !important;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #777777 !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #777777 !important;
    opacity: 1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #777777 !important;
    opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #777777 !important;
}

select {
    color: #c0c0c0 !important;
    -webkit-appearance: none; /* Safari 対策 */
}

/* ヘッダー */
#header {
    background: #181818;
    border: none;
}

    #header a {
        color: #c0c0c0;
    }

    #header a:hover {
        background-color: inherit;
        color: #4183C4;
    }

    #header .dropdown-menu {
        background-color: #111
    }

    #header .dropdown-menu a {
        color: #c0c0c0;
    }

    #header .dropdown-menu a:hover {
        color: #4183C4;
        background-color: inherit;
    }

.page-header {
    border-bottom: 1px solid #fff100;
}

/* テーブル */
.table>thead>tr>th {
    border-bottom: 2px solid #fff100;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    border-top: 1px solid #808080;
}

.navbar-default .navbar-toggle {
    border-color: #808080;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #c0c0c0;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #4183C4;
}

/* トップページ */
.suggest-msg {
    background: #111;
}

/* 検索フォーム */
.search-form input[type=text] {
    background-color: #343434;
    color: #c6c6c6;
    border: solid 1px #dddddd;
}

#news .article {
    background: #111;
    color: #222;
}

/* 難易度フォルダ */
.level-folder {
	background-color: #222;
    border: 1px solid #808080;
	border-left: 8px solid #808080;
}

/* 曲リスト (テーブル) */
.music-list .perfect {
    color: #FFFFFF;
}

.music-list .fullcombo {
    color: #222;
}

.music-list .hard-cleared {
    color: #222;
}

.music-list .cleared {
    color: #222;
}

.music-list .easy-cleared {
    color: #222;
}

.music-list .failed {
    color: #222;
}

.music-list .no-play {
    color: #c0c0c0;
}

/* フォーム */
.form-control {
    background-color: #343434;
    color: #c6c6c6;
}

/* モーダルダイアログ */
.modal {
    color: #c0c0c0;
}

    .modal .modal-content {
        background-color: #111;
    }

    .modal .modal-header {
        border-bottom: 1px solid #808080;
    }

    .modal .modal-header button {
        color: #c0c0c0;
    }

    .modal .modal-footer {
        border-top: 1px solid #808080;
    }

.text-box {
    background-color: #111;
    border: 1px solid #808080;
}

/* アクティビティ */
#activity > .card > p {
    color: #000000;
}

/* Pager */
.pagination>li>a, .pagination>li>span {
    color: #FFFFFF;
    background-color: #424242;
    border: 1px solid #212121;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    color: #FFFFFF;
    background-color: #3F51B5;
    border-color: #3F51B5;
}

.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus {
    color: #FFFFFF;
    background-color: #3F51B5;
    border-color: #3F51B5;
}

/* フッター */
#footer {
    border-top: 5px solid #fff100;
}
