body {
    font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
    color: #4a4a4a;
}

ul {
    list-style-type: none;
}

a.no-decoration {
    text-decoration: none;
}

/* 注意メッセージ */
.danger {
    color: red;
}

/* プレミアムユーザー用 */
.premium {
    color: #fff100;
    text-shadow: 0 0 3px #f60;
}

/* ヘッダー */
#header {
    background: linear-gradient(to bottom, #FF5814, #FF3307);
    background: -moz-linear-gradient(top, #FF5814, #FF3307);
    background: -webkit-gradient(linear, left top, left bottom, from(#FF5814), to(#FF3307));
    border-left-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top: solid 1px #F83;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.25);
}

    #header a {
        color: #fff;
    }

    #header a:hover {
        background-color: #FF3323;
    }

    #header .premium {
        color: #fff100;
        text-shadow: 0 0 3px #f60;
    }

    #header .dropdown-menu a {
        color: #000;
    }

    #header .dropdown-menu a:hover {
        background-color: #e5e5e5;
    }

.page-header {
    border-bottom: 1px solid #f19149;
}

/* テーブル */
.table>thead>tr>th {
    border-bottom: 2px solid #f19149;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    border-top: 1px solid #f19149;
}

.navbar-default .navbar-toggle {
    border-color: #FFF;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #FF3323;
}

/* テーブル列 */
tr.clickable:hover {
    cursor: pointer;
    opacity: 0.9;
}

/* メイン */
#main {
    min-height: 400px;
}

/* トップページ */
#news .article {
    background: #e5e5e5;
    padding: 8px;
    margin-bottom: .5em;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

    #news .article.addition {
        background: rgb(153, 207, 229);
    }

    #news .article.update {
        background: rgb(166, 227, 157);
    }

    #news .article p.date {
        font-size: .9em;
        text-align: right;
        opacity: 0.8;
        margin: 0;
    }

ul.music-list {
    margin: 0;
    padding: 0;
}

li.music {
    text-align: center;
    padding: 8px;
    margin-bottom: .5em;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
    li.music.extra {
        background: rgb(243, 192, 171);
    }
    li.music.hyper {
        background: rgb(255, 242, 128);
    }
    li.music.normal {
        background: rgb(153, 207, 229);
    }
    li.music.easy {
        background: rgb(166, 227, 157);
    }

/* 曲名の場合は小さめに */
h1.music-title {
    font-size: 25px;
}

/* メッセージボックス */
#message-box{
    display: none;
    position: fixed;
    top: 45px;
    left: 50%;
    margin-left: -250px;
    padding: 15px 0;
    width: 500px;
    text-align: center;
    font-size: 13px;
    color: #fff;
    background-color: rgba(51,51,51, 0.9);
    -webkit-border-radius: 5px; /* Safari Chrome */
    -moz-border-radius: 5px;    /* Firefox */
    border-radius: 5px;         /* Firefox */
}

/* 難易度フォルダ */
.level-folder {
	padding: .5em .75em;
	background-color: #f6f6f6;
	border-left: 8px solid #e2e2e2;
    border-radius: 5px;
}

    /* フォルダランプ */
    .level-folder.special {
        border-left: 8px solid rgb(157, 115, 187);
    }

    .level-folder.perfect {
        border-left: 8px solid #4a4a4a;
    }

    .level-folder.fullcombo {
        border-left: 8px solid rgb(153, 207, 229);
    }

    .level-folder.hard-cleared {
        border-left: 8px solid rgb(243, 192, 171);
    }

    .level-folder.cleared {
        border-left: 8px solid rgb(255, 242, 128);
    }

    .level-folder.easy-cleared {
        border-left: 8px solid rgb(166, 227, 157);
    }

    .level-folder.failed {
        border-left: 8px solid #C6C6C6;
    }

/* 曲リスト (テーブル) */
.music-list .perfect {
    background-color: #4a4a4a;
    color: #FFFFFF;
}

.music-list .fullcombo {
    background-color: rgb(153, 207, 229);
}

.music-list .hard-cleared {
    background-color: rgb(243, 192, 171);
}

.music-list .cleared {
    background-color: rgb(255, 242, 128);
}

.music-list .easy-cleared {
    background-color: rgb(166, 227, 157);
}

.music-list .failed {
    background-color: #C6C6C6;
}

.music-list .no-play {}

.music-list .title a {
    /* クリック可能範囲を広げる */
    display: block;
    width: 100%;
    height: 100%;
}

.text-box {
    background-color: #e5e5e5;
    padding: 20px 15px 10px 15px;
    margin: 20px 0;
    border-radius: 10px;
}

/* トップへ戻るボタン */
.pagetop {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
}

    .pagetop a {
        display: block;
        background-color: #ccc;
        text-align: center;
        color: #222;
        font-size: 20px;
        text-decoration: none;
        width: 50px;
        height: 50px;
        padding-top: 14px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        opacity: 0.5;
    }

    .pagetop a:hover {
        display: block;
        background-color: #222;
        text-align: center;
        color: #fff;
        font-size: 20px;
        text-decoration: none;
        padding-top: 14px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        opacity: 1;
    }

/* 登録ユーザー一覧 */
.user-list {
    color: #393939;
}

/* グラフ描画 */
.graph {
    position: relative; /* IE is dumb */
    max-width: 500px;
    width: 100%;
    border: 1px solid rgb(50, 97, 171);
    padding: 2px;
}
    .graph .bar {
        display: block;
        position: relative;
        background: rgb(153, 207, 229);
        text-align: center;
        color: #f0ffff;
        height: 2em;
        line-height: 2em;
    }
    .graph .bar span { position: absolute; left: 1em; }
    .graph a {
        text-decoration: none;
    }

/* トップページ */
.big {
    font-size: 18px;
}

/* 設定 */
.settings-panel-danger {
    margin-top: 80px;
}

/* サイドバー */
.sidebar {
    padding-top: 15px;
}

    .sidebar ul {
        padding-left: 10px;
    }

    .sidebar li a {
        display: block;
        padding: 5px 15px;
    }

    .sidebar li a:hover {
        background-color: #555;
        color: #fff;
    }

/* 広告エリア */
.ad-area {
    text-align: center;
}

    .ad-area-2 {
        padding-top: 20px;
    }

/* フッター */
#footer {
    margin-top: 50px;
    padding: 25px 15px 15px 15px;
    border-top: 5px solid #f19149;
}

    #footer .footer-left {
        float: left;
    }

    #footer .footer-right {
        float: right;
    }
