{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}{{ selected_user.player_name|default:selected_user.username }}のクリア状況(Lv{{ sran_level }}) - スパランドットコム{% endblock %}

{% block extrahead %}
<meta name="description" content="スパランドットコムのクリア状況確認ページです。(Lv{{ sran_level }})">
<script src="/static/js/user_music_list.js?v=20160528a"></script>
{% endblock %}

{% block content %}
<h1 class="page-header">{% bootstrap_icon "star-empty" %} クリア状況</h1>
<h2>{% bootstrap_icon "user" %} {{ selected_user.player_name|default:selected_user.username }}</h2>
{% if selected_user == user or selected_user.cleardata_privacy == 1 %}
<h3 id="lv{{ sran_level }}" class="level-folder">Lv{{ sran_level }}</h3>
<div id="lv{{ sran_level }}-table">
<table class="music-list table table-condensed">
    <thead>
        <th>Lv</th>
        <th>曲名</th>
        <th>難易度</th>
        <th>BPM</th>
        <th>メダル</th>
        <th>BAD数</th>
        <th>更新日時</th>
    </thead>
    <tbody>
        {% for music in music_list %}
        <tr id="music-{{ music.id }}">
            <script>$(function() { getClearStatus({{ music.id }}, {{ selected_user.id }}); });</script>
            <td class="level">{{ music.level }}</td>
            <td class="title"><a href="{% url 'main:ranking_detail' music.id %}">{{ music.title }}</a></td>
            <td class="difficulty">{{ music.difficulty }}</td>
            <td class="bpm">{{ music.bpm|default:'-' }}</td>
            <td class="medal">
                <img>
                <script>$(function() { getMedal({{ music.id }}, {{ selected_user.id }}); });</script>
            </td>
            <td class="bad_count">
                <script>$(function() { getBadCount({{ music.id }}, {{ selected_user.id }}); });</script>
            </td>
            <td class="updated_at">
                <script>$(function() { getLatestUpdatedAt({{ music.id }}, {{ selected_user.id }}); });</script>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
<script>$(function() { getFolderLamp({{ sran_level }}, true, {{ selected_user.id }}); });</script>
{% else %}
<p>クリアデータは非公開に設定されています。</p>
{% endif %}
{% endblock %}
