{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}設定 - スパランドットコム{% endblock %}

{% block extrahead %}
<meta property="og:title" content="設定 - スパランドットコム" />
<meta property="og:type" content="article" />
<meta name="description" content="スパランドットコムの設定ページです。">
{% endblock %}

{% block content %}
<div class="settings">
    <h1 class="page-header">{% bootstrap_icon "cog" %} 設定</h1>

    {% if messages %}
    <ul id="message-box">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{% bootstrap_icon "info-sign" %} {{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <section id="account" class="settings-panel">
        <h2 class="settings-header page-header">{% bootstrap_icon "user" %} アカウント</h2>
        <form class="settings-form form" action="./" method="post">{% csrf_token %}
            {% bootstrap_form custom_user_form %}
            <input class="btn btn-primary" type="submit" name="account" value="保存する">
        </form>
    </section>

    <section id="privacy" class="settings-panel">
        <h2 class="settings-header page-header">{% bootstrap_icon "ok" %} 公開設定</h2>
        <form class="settings-form form" action="./" method="post">{% csrf_token %}
            {% bootstrap_form privacy_form %}
            <input class="btn btn-primary" type="submit" name="privacy" value="保存する">
        </form>
    </section>

    <section id="theme" class="settings-panel">
        <h2 class="settings-header page-header">{% bootstrap_icon "picture" %} テーマ</h2>
        <form class="settings-form form" action="./" method="post">{% csrf_token %}
            {% bootstrap_form theme_form %}
            <input class="btn btn-primary" type="submit" name="themes" value="保存する">
        </form>
    </section>

    <section id='export' class="settings-panel">
        <h2 class="settings-header page-header">{% bootstrap_icon "export" %} CSV エクスポート <span class="premium">★</span></h2>
        <p>クリアデータを CSV ファイルで保存できます。</p>
        <p>CSV ファイルは毎日 AM 0:30 頃に最新のデータに更新されます。</p>
        <p>※ 文字コードは "Shift_JIS (CP932)" で出力されます。</p>
        <br>
        {% if user.premium %}
        <a href="{% url 'users:download' 'csv' %}"><button class="btn btn-success" type="button">{% bootstrap_icon "download" %} ダウンロードする</button></a>
        {% else %}
        <a href="{% url 'main:premium' %}" target="_blank"><button class="btn btn-success disabled" type="button">{% bootstrap_icon "download" %} ダウンロードする</button></a>
        {% endif %}
    </section>

    <section id="deactivate" class="settings-panel settings-panel-danger">
        <h2 class="settings-header page-header">{% bootstrap_icon "trash" %} アカウント削除</h2>
        <p class="danger">一度アカウントを削除すると、二度と元に戻せません。十分ご注意ください。</p>
        <br>
        <a href="{% url 'users:deactivate' %}"><span class="btn btn-danger">{% bootstrap_icon "alert" %} アカウントを削除する</span></a>
    </section>
</div><!-- settings -->
{% endblock %}
