{% extends "base.html" %}
{% load bootstrap3 %}
{% load compress %}

{% block title %}{{ selected_user.player_name|default:selected_user.username }}(統計) - スパランドットコム{% endblock %}

{% block extrahead %}
<meta property="og:title" content="{{ selected_user.player_name|default:selected_user.username }}(統計) - スパランドットコム" />
<meta property="og:type" content="article" />
<meta name="description" content="スパランドットコムの統計情報ページです。">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
<!-- D3.js -->
<script type="text/javascript" src="//d3js.org/d3.v3.min.js"></script>
<!-- Cal-heatmap -->
<script type="text/javascript" src="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.min.js"></script>
<link rel="stylesheet" href="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.css" />
<style>
    .loading {
        height: 4px;
        width: 100%;
        position: relative;
        overflow: hidden;
        background-color: #ddd;
    }
    .loading:before{
        display: block;
        position: absolute;
        content: "";
        left: -200px;
        width: 200px;
        height: 4px;
        background-color: #2980b9;
        animation: loading 2s linear infinite;
    }
    @keyframes loading {
        from {left: -200px; width: 30%;}
        50% {width: 30%;}
        70% {width: 70%;}
        80% { left: 50%;}
        95% {left: 120%;}
        to {left: 100%;}
    }
</style>
{% endblock %}

{% block content %}
<h1 class="page-header">{% bootstrap_icon "book" %} 統計 (Beta)</h1>
<p><b>This page is under development.</b></p>

<h2>
    {% if selected_user.premium %}
    <span class="premium">★</span>
    {% endif %}
    {{ selected_user.player_name|default:selected_user.username }}
</h2>
<p class="username"><i class="fa fa-twitter" aria-hidden="true"></i> <a href="https://twitter.com/{{ selected_user.username }}" target="_blank">@{{ selected_user.username }}</a></p>
<p>ポプともID: {{ selected_user.split_poputomo_id|default:'------' }}</p>
<p>都道府県: {{ selected_user.location|default:'------' }}</p>
<p>コメント:<br>{{ selected_user.profile|default:'------' }}</p>
<p>登録日時: {{ selected_user.date_joined|date:"Y/n/d G:i" }}</p>
{% ifequal selected_user user %}
<p>最終ログイン日時: {{ selected_user.last_login|date:"Y/n/d G:i" }}</p>
{% endifequal %}

{% ifequal selected_user user %}
<a href="{% url 'users:settings' %}" class="btn btn-default">{% bootstrap_icon "pencil" %} 編集する</a>
{% endifequal %}

<a href="https://twitter.com/intent/tweet?text={{ selected_user.player_name|default:selected_user.username }}さんのプロフィールページです。&url={{ request.build_absolute_uri }}&hashtags=スパランドットコム" class="btn btn-info"><i class="fa fa-twitter" aria-hidden="true"></i> ツイートする</a>

<h2 class="clear-data page-header">
    {% if selected_user.cleardata_privacy == 2 and selected_user == user %}
    {% bootstrap_icon "star-empty" %} クリア状況 (非公開)
    {% else %}
    {% bootstrap_icon "star-empty" %} クリア状況
    {% endif %}
</h2>
{% if selected_user.cleardata_privacy == 1 or selected_user == user %}
<center style="margin-bottom:30px">
    <p><b>{{ activity_count }} activities in total</b></p>
    <div id="activityMap"></div>
</center>

<div id="clear-rate-chart">
    <div class="loading"></div>
    <canvas id="clearRate" width="1" height="3"></canvas>
</div>

{% else %}
<p>クリアデータは非公開に設定されています。</p>
{% endif %}

{% compress js inline %}
<script>
	var cal = new CalHeatMap();
    var start = new Date;
    var end = new Date;
    var range = 12;
    start = start.setMonth(start.getMonth() - (range - 1));
    end = end.setMonth(end.getMonth());
	cal.init({
        itemSelector: "#activityMap",
        data: "{% url 'users:get_activity_map' %}?user_id={{selected_user.id}}&start="+start+"&stop="+end,
        domain: "month",
        subDomain: "day",
        domainLabelFormat: "%Y-%m",
        range: range,
        cellSize: 10,
        displayLegend: false,
        tooltip: true,
        start: start
    });
</script>
<script>
    var selector = "#clear-rate-chart";
    var ctx = document.getElementById("clearRate");
    $.ajax({
        url: "{% url 'users:get_clear_rate' %}?user_id="+{{ selected_user.id }},
        type: "GET",
        timeout: 15000
    })
    .then(
        function (response) {
            hideLoadingImage(selector);
            var data = response;
            var clearRate = new Chart(ctx, {
                type: "horizontalBar",
                data: data,
                options: {
                    scales: {
                        xAxes: [{
                            stacked: true,
                            ticks: {
                                min: 0,
                                max: 100,
                                callback: function(value) {
                                    return value + "%";
                                }
                            },
                        }],
                        yAxes: [{
                            stacked: true,
                            categoryPercentage: 0.9,
                            barPercentage: 1.0
                        }]
                    },
                    title: {
                        display: true,
                        text: "各メダルの割合"
                    }
                }
            });
        },
        function(err) {
            hideLoadingImage(selector);
            console.log(err);
        }
    );
</script>
{% endcompress %}
{% endblock %}
