{% extends "base.html" %}

{% block extrahead %}
<meta name="description" content="スパランドットコムの403エラーページです。">
{% endblock %}

{% block title %}アクセスが禁止されています - スパランドットコム{% endblock %}

{% block content %}
<h1 class="page-header">アクセスが禁止されています</h1>
<p>このページへアクセスする権限がありません。</p>
<p><a href="/">トップページへ移動する</a></p>

<h2 class="page-header">お問い合わせ</h2>
<p>当サイトに関するお問い合わせは以下の連絡先までお願い致します。</p>
<br>
<p>Twitter: <a href="https://twitter.com/sapuri_tappuri" target="_blank">@sapuri_tappuri</a></p>
<p>E-mail: <a href="mailto:info@srandom.com">info@srandom.com</a></p>
{% endblock %}
