{% extends "base.html" %}
{% load bootstrap3 %}

{% block extrahead %}
<meta name="description" content="スパランドットコムの404エラーページです。">
{% endblock %}

{% block title %}ページが見つかりませんでした - スパランドットコム{% endblock %}

{% block content %}
<h1 class="page-header">ページが見つかりませんでした</h1>
<p>いつも当サイトをご利用頂きありがとうございます。</p>
<p>大変申し訳ございません。あなたがアクセスしようとしたページは削除されたかURLが変更されています。</p>
<p>お手数をおかけしますが、以下のリンクからもう一度目的のページをお探し下さい。</p>

<h2 class="page-header">コンテンツ一覧</h2>
<p>・<a href="{% url 'main:index' %}">トップページ</a></p>
<p>・<a href="{% url 'main:level_select' %}">公式難易度表</a></p>
<p>・<a href="{% url 'main:difflist_level_select' %}">S乱難易度表</a></p>
<p>・<a href="{% url 'main:ranking_level_select' %}">ランキング</a></p>
<p>・<a href="{% url 'main:omikuji' %}">おみくじ</a></p>
<p>・<a href="{% url 'users:mypage' myself.username %}">マイページ</a></p>
<p>・<a href="{% url 'users:settings' %}">設定</a></p>

<h2 class="page-header">無効なリンクを報告する</h2>
<p>もし当サイト内で無効なリンクを発見された場合、どのページのどのリンクが無効だったかをご報告頂けると幸いです。</p>
<p>今後とも、使いやすいサイトになるよう精進させていただきますのでよろしくお願い致します。</p>
<br>
<p>Twitter: <a href="https://twitter.com/darum1system" target="_blank">@darum1system</a></p>
<p>E-mail: <a href="mailto:info@zen-ume.com">info@zen-ume.com</a></p>
{% endblock %}
