{% extends "base.html" %}

{% block extrahead %}
<meta name="description" content="スパランドットコムの404エラーページです。">
{% endblock %}

{% block title %}ページが見つかりませんでした - スパランドットコム{% endblock %}

{% block content %}
<h1 class="page-header">ページが見つかりませんでした</h1>
<p>いつも当サイトをご利用頂きありがとうございます。</p>
<p>大変申し訳ございません。あなたがアクセスしようとしたページは削除されたかURLが変更されています。</p>
<p>お手数をおかけしますが、以下のリンクからもう一度目的のページをお探し下さい。</p>
<p><a href="/">トップページへ移動する</a></p>

<h2 class="page-header">無効なリンクを報告する</h2>
<p>もし当サイト内で無効なリンクを発見された場合、どのページのどのリンクが無効だったかをご報告頂けると幸いです。</p>
<p>今後とも、使いやすいサイトになるよう精進させていただきますのでよろしくお願い致します。</p>
<br>
<p>Twitter: <a href="https://twitter.com/sapuri_tappuri" target="_blank">@sapuri_tappuri</a></p>
<p>E-mail: <a href="mailto:info@srandom.com">info@srandom.com</a></p>
{% endblock %}
