{% extends "base.html" %}
{% load bootstrap3 %}

{% block extrahead %}
<meta name="description" content="スパランドットコムの500エラーページです。">
{% endblock %}

{% block title %}サーバーエラー - スパランドットコム{% endblock %}

{% block content %}
<h1 class="page-header">サーバーエラー</h1>
<p>いつも当サイトをご利用頂きありがとうございます。</p>
<p>大変申し訳ございません。サーバーエラーが発生しました。</p>
<p>しばらく時間をおいてから再度アクセスして頂きますようお願い致します。m(_ _)m</p>
<p>もし、このエラーが一時的なもので無い場合は開発者へご報告頂けると幸いです。</p>

<h2 class="page-header">お問い合わせ</h2>
<p>当サイトに関するお問い合わせは以下の連絡先までお願い致します。</p>
<br>
<p>Twitter: <a href="https://twitter.com/darum1system" target="_blank">@darum1system</a></p>
<p>E-mail: <a href="mailto:info@zen-ume.com">info@zen-ume.com</a></p>
{% endblock %}
