{% extends "base.html" %}

{% block extrahead %}
<meta name="description" content="スパランドットコムの503エラーページです。">
{% endblock %}

{% block title %}サーバーメンテナンス中です - スパランドットコム{% endblock %}

{% block content %}
<h1 class="page-header">サーバーメンテナンス中です</h1>
<p>いつも当サイトをご利用頂きありがとうございます。</p>
<p>大変申し訳ございません。只今サーバーメンテナンス中です。</p>
<p>しばらく時間をおいてから再度アクセスして頂きますようお願い致します。m(_ _)m</p>

<h2 class="page-header">お問い合わせ</h2>
<p>当サイトに関するお問い合わせは以下の連絡先までお願い致します。</p>
<br>
<p>Twitter: <a href="https://twitter.com/sapuri_tappuri" target="_blank">@sapuri_tappuri</a></p>
<p>E-mail: <a href="mailto:info@srandom.com">info@srandom.com</a></p>
{% endblock %}
