{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}S乱難易度表 - スパランドットコム{% endblock %}

{% block extrahead %}
<meta property="og:title" content="S乱難易度表 - スパランドットコム" />
<meta property="og:type" content="article" />
<meta name="description" content="スパランドットコムのS乱難易度表ページです。">
<script src="/static/js/level_select.js"></script>
{% endblock %}

{% block content %}
<h1 class="page-header">{% bootstrap_icon "list-alt" %} S乱難易度表</h1>

{% if messages %}
<ul id="message-box">
    {% for message in messages %}
        {% if message.tags == 'success' %}
        <li class="{{ message.tags }}">{% bootstrap_icon "ok-sign" %} {{ message }}</li>
        {% elif message.tags == 'error' %}
        <li class="{{ message.tags }}">{% bootstrap_icon "remove-sign" %} {{ message }}</li>
        {% else %}
        <li class="{{ message.tags }}">{% bootstrap_icon "info-sign" %} {{ message }}</li>
        {% endif %}
    {% endfor %}
</ul>
{% endif %}

{% for s_lv in s_lv_range %}
<a href="{% url 'main:difflist' s_lv %}" class="no-decoration"><h3 id="lv{{ s_lv }}" class="level-folder">Lv{{ s_lv }}</h3></a>
<script>$(function() { getFolderLamp({{ s_lv }}, true); });</script>
{% endfor %}
{% endblock %}
