{% extends "base.html" %}
{% load custom_filter %}
{% load bootstrap3 %}

{% block extrahead %}
<meta name="description" content="スパランドットコムのS乱難易度表ページです。(全曲)">
{% endblock %}

{% block title %}S乱難易度表(全曲) - スパランドットコム{% endblock %}

{% block content %}
<h1 class="page-header">{% bootstrap_icon "list-alt" %} S乱難易度表</h1>

{% if messages %}
<ul id="message-box">
    {% for message in messages %}
        {% if message.tags == 'success' %}
        <li class="{{ message.tags }}">{% bootstrap_icon "ok-sign" %} {{ message }}</li>
        {% elif message.tags == 'error' %}
        <li class="{{ message.tags }}">{% bootstrap_icon "remove-sign" %} {{ message }}</li>
        {% else %}
        <li class="{{ message.tags }}">{% bootstrap_icon "info-sign" %} {{ message }}</li>
        {% endif %}
    {% endfor %}
</ul>
{% endif %}

<p>レベルフォルダをクリックすると開閉できます。</p>
<p><a href="{% url 'main:difflist_level_select' %}">{% bootstrap_icon "arrow-left" %} レベル選択へ戻る</a></p>

{% for s_lv in s_lv_range %}
<h3 id="lv{{ s_lv }}" class="level-folder">Lv{{ s_lv }}</h3>
<div id="lv{{ s_lv }}-table" class="collapse">
<table class="music-list table table-condensed">
    <thead>
        <th>Lv</th>
        <th>曲名</th>
        <th>難易度</th>
        <th>BPM</th>
        <th>メダル</th>
        <th>BAD数</th>
        <th>更新日時</th>
    </thead>
    <tbody>
        {% for music in music_list %}
            {% if music.sran_level.int == s_lv %}
                {% if medal_list|medal_int:music == 1 and bad_count_list|bad_count_int:music == 0 %}
                <tr class="perfect">
                {% elif bad_count_list|bad_count_int:music == 0 %}
                <tr class="fullconbo">
                {% elif extra_option_list|is_hard:music %}
                <tr class="hard-cleared">
                {% else %}
                    {% for medal in medal_list %}
                        {% if medal.music.id == music.id %}
                            {% if medal.int == 7 or medal.int == 6 or medal.int == 5 %}
                            <tr class="cleared">
                            {% elif medal.int == 10 or medal.int == 9 or medal.int == 8 %}
                            <tr class="failed">
                            {% elif medal.int == 11 %}
                            <tr class="easy-cleared">
                            {% else %}
                            <tr class="no-play">
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
                    <td class="level">{{ music.level }}</td>
                    <td class="title"><a href="{% url 'main:edit' music.id %}">{{ music.title }}</a></td>
                    <td class="difficulty">{{ music.difficulty }}</td>
                    <td class="bpm">{{ music.bpm|default:'-' }}</td>
                    <td class="medal">
                        {% if medal_list|medal_int:music %}
                        <img src="/static/img/medal/{{ medal_list|medal_int:music }}.gif" width="16" height="16"/>
                        {% else %}
                        -
                        {% endif %}
                    </td>
                    <td class="bad_count">
                        {% if bad_count_list|bad_count_int:music != None %}
                        {{ bad_count_list|bad_count_int:music }}
                        {% else %}
                        -
                        {% endif %}
                    </td>
                    <td class="updated_at">{{ bad_count_list|bad_count_updated_at:music|date:"Y/n/d G:i"|default:'-' }}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>
</div>
{% endfor %}

<p class="pagetop"><a href="#top">{% bootstrap_icon "menu-up" %}</a></p>

<script>
/* 開閉スイッチ */
{% for s_lv in s_lv_range %}
$('#lv{{ s_lv }}').click(function() {
    $('#lv{{ s_lv }}-table').collapse('toggle');
});
{% endfor %}

/* メッセージボックス */
$(function () {
    $(document).ready(function() {
        $("#message-box").stop().fadeIn(1200).delay(1500).fadeOut("slow");
    });
});

/* トップに戻るボタン */
$(document).ready(function() {
    var pagetop = $('.pagetop');
    $(window).scroll(function () {
        if ($(this).scrollTop() > 2000) {
            pagetop.fadeIn();
        } else {
            pagetop.fadeOut();
        }
    });
    pagetop.click(function () {
        $('body, html').animate({ scrollTop: 0 }, 500);
        return false;
    });
});
</script>
{% endblock %}
