{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}{{ music.title }}({{ music.difficulty }})を編集 - スパランドットコム{% endblock %}

{% block extrahead %}
<meta name="description" content="スパランドットコムの記録編集ページです。">
{% endblock %}

{% block content %}
<h1 class="page-header music-title">{% bootstrap_icon "pencil" %} {{ music.title }} ({{ music.difficulty }})</h1>

<form class="edit-form form" action="./?next={{ request.META.HTTP_REFERER }}" method="post">{% csrf_token %}
    {% bootstrap_form medal_form %}
    {% bootstrap_form bad_count_form %}
    {% bootstrap_form extra_option_form %}
    <div class="form-group" style="margin:2em 0;"><div class="checkbox"><label for="tweet"><input id="tweet" name="tweet" type="checkbox" />{% bootstrap_icon "link" %} 更新内容をツイートする</label></div></div>
    {% buttons %}
    <input class="btn btn-primary" type="submit" name="save" value="保存する">
    {% endbuttons %}
</form>

<button class="btn btn-danger" data-toggle="modal" data-target="#modal" style="margin-top:30px;">
    {% bootstrap_icon "trash" %} 記録を削除する
</button>

<div id="modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{% bootstrap_icon "alert" %} 記録を削除する</h4>
            </div>
            <div class="modal-body">
                本当に「{{ music.title }} ({{ music.difficulty }})」の記録を削除しますか？
            </div>
            <div class="modal-footer">
                <form action="./?next={{ request.META.HTTP_REFERER }}" method="post">{% csrf_token %}
                    <button class="btn btn-default" type="button" data-dismiss="modal">キャンセル</button>
                    <input class="btn btn-primary" type="submit" name="delete" value="削除する">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
