{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}{{ music.title }}({{ music.difficulty }})を編集 - スパランドットコム{% endblock %}

{% block extrahead %}
<meta property="og:title" content="{{ music.title }}({{ music.difficulty }})を編集 - スパランドットコム" />
<meta property="og:type" content="article" />
<meta name="description" content="スパランドットコムの記録編集ページです。">
{% endblock %}

{% block content %}
<h1 class="page-header music-title">{% bootstrap_icon "pencil" %} {{ music.title }} ({{ music.difficulty }})</h1>

<p style="margin-bottom:2em;"><a href="{% url 'main:ranking_detail' music.id %}">{% bootstrap_icon "king" %} 詳細を見る</a></p>

<form class="edit-form form" action="./?next={{ request.META.HTTP_REFERER }}" method="post">{% csrf_token %}
    {% bootstrap_form medal_form %}
    {% bootstrap_form bad_count_form %}
    <div style="margin-top:2em"></div>
    {% bootstrap_form extra_option_form %}
    <div class="form-group" style="margin:2em 0;"><div class="checkbox"><label for="tweet"><input id="tweet" name="tweet" type="checkbox" /><i class="fa fa-twitter" aria-hidden="true"></i> 更新内容をツイートする</label></div></div>
    <div style="margin:3em; text-align:center;">
        <input class="btn btn-primary" type="submit" name="save" value="保存する">
        <span class="btn btn-danger" data-toggle="modal" data-target="#modal" style="margin-left:3em;">
            {% bootstrap_icon "trash" %} 削除する
        </span>
    </div>
</form>

{% if activity_list %}
<div id="activity">
    <h2 class="page-header">履歴</h2>
    {% for activity in activity_list %}
    <div class="card">
        <p>{% bootstrap_icon "pencil" %} {{ activity.updated_at|date:"Y/n/d (D) G:i" }}</p>
    </div>
    {% endfor %}
</div>
{% endif %}

<div id="modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{% bootstrap_icon "alert" %} 記録を削除する</h4>
            </div>
            <div class="modal-body">
                本当に「{{ music.title }} ({{ music.difficulty }})」の記録を削除しますか？
            </div>
            <div class="modal-footer">
                <form action="./?next={{ request.META.HTTP_REFERER }}" method="post">{% csrf_token %}
                    <button class="btn btn-default" type="button" data-dismiss="modal">キャンセル</button>
                    <input class="btn btn-primary" type="submit" name="delete" value="削除する">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
