{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block extrahead %}
<meta name="description" content="スパランドットコムは、ポップンミュージックのスパラン愛好家のためのクリア状況管理サイトです。スパラン上級者の方はもちろん、初心者の方やこれから始める方にも気軽に使っていただけるサイトを目指します。">
{% endblock %}

{% block content %}
<h1 class="page-header">ようこそ！</h1>
{% if user.is_authenticated %}
    <p class="big">ようこそ {{ user.player_name|default:user.username }}さん！</p>
    {% if not user.player_name %}
    <p class="big"><a href="{% url 'users:settings' %}">プロフィールを設定</a>してみましょう！</p>
    {% endif %}
    <p><a href="{% url 'main:difflist_level_select' %}">難易度表ページ</a>でクリア状況を記録できます！</p>
    <p><a href="{% url 'main:ranking_level_select' %}">ランキングページ</a>で各曲ごとのBAD数ランキングを閲覧できます！</p>
    <p>その他にも要望があれば機能を随時追加していく予定です。</p>
{% else %}
    <p>スパランドットコムをご利用頂くにはログインが必要です。</p>
    <p>Twitter アカウントをお持ちであればすぐにログインできます。</p>
    <p><a href="{% url 'social:begin' 'twitter' %}"><img src="{% static 'img/sign-in-with-twitter-gray.png' %}" alt="Sign in with Twitter" width="158" height="28"></a></p>
    <p>※ スパランドットコムが許可無くツイートすることはありません。</p>
{% endif %}

<h2 class="page-header">お知らせ</h2>
<p style="color:#f19149; font-weight:bold;">2016/03/30</p>
<p>登録ユーザー数が100人を超えました！</p>
<p>これからもスパランドットコムを宜しくお願い致しますm(_ _)m</p>
<br>
<p style="color:#f19149; font-weight:bold;">2016/03/27</p>
<p>S乱難易度表が更新されました！</p>
<p>新曲が11曲追加され、19曲のレベルが変更されています。</p>
<p>さっそく新曲の記録を登録してみましょう！</p>
<br>
<p style="color:#f19149; font-weight:bold;">2016/03/22</p>
<p>いつもスパランドットコムをご利用いただきありがとうございます。</p>
<p>より快適に当サイトをご利用頂くために、<a href="{% url 'main:premium' %}">プレミアムユーザー</a>機能をご用意致しました。</p>
<p>カンパの意味合いが強いですが、広告が非表示になってかなり利便性が向上するので是非ご検討ください！</p>

<h2 class="page-header">このサイトについて</h2>
<p>スパランドットコムは、ポップンミュージックのスパラン愛好家のためのクリア状況管理サイトです。</p>
<p>スパラン上級者の方はもちろん、初心者の方やこれから始める方にも気軽に使っていただけるサイトを目指します。</p>
<p>当サイトで扱っているS乱レベルは<a href="http://hellwork.jp/popn/wiki/734.html" target="_blank">S乱クリア難易度表</a>に基いています。</p>
<p>楽曲情報は毎日自動的に更新されるので、常に最新の難易度表を使ってクリア状況を記録できます。</p>
<p>レスポンシブ設計なので、スマートフォンやタブレットでもご利用できます。</p>

<div id="activity" class="row">
    <div id="updated-recently" class="col-xs-12 col-md-5">
        <h3 class="page-header">最近更新された曲</h2>
        <p>現在 {{ medal_num }} 件の記録が登録されています</p>
        <ul class="music-list">
            {% for recent in recent_medal %}
            <a href="{% url 'main:ranking_detail' recent.music.id %}">
                <li class="music {% if recent.music.difficulty.difficulty_short == 'EX' %}extra{% elif recent.music.difficulty.difficulty_short == 'H' %}hyper{% elif recent.music.difficulty.difficulty_short == 'N' %}normal{% else %}easy{% endif %}">
                    {{ recent.music.title }} ({{ recent.music.difficulty }})
                </li>
            </a>
            {% endfor %}
        </ul>
    </div>
    <div id="twitter-timeline" class="col-xs-12 col-md-7">
        <h3 class="page-header">ツイート</h2>
        <p>スパランドットコムに関するツイートのタイムラインです</p>
        {% if not user.id == 2 %}
        <a class="twitter-timeline" href="https://twitter.com/hashtag/%E3%82%B9%E3%83%91%E3%83%A9%E3%83%B3%E3%83%89%E3%83%83%E3%83%88%E3%82%B3%E3%83%A0" data-widget-id="735061004447424512" data-chrome="noheader nofooter noborders">#スパランドットコム のツイート</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        {% else %}
        <a class="twitter-timeline" href="https://twitter.com/hashtag/%E3%82%B9%E3%83%91%E3%83%A9%E3%83%B3%E3%83%89%E3%83%83%E3%83%88%E3%82%B3%E3%83%A0" data-widget-id="735061948924985344" data-chrome="noheader nofooter noborders">#スパランドットコム のツイート</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        {% endif %}
    </div>
</div>

<h2 class="page-header">更新情報</h2>
<p>2016/05/19 CSVエクスポート機能を追加しました</p>
<p>2016/05/09 プロフィールページなど、一部のページはログインしなくても閲覧できるようにしました</p>
<p>2016/05/06 難易度表及びランキングページの読み込みを高速化しました</p>
<p>2016/03/22 プレミアムユーザー機能を追加しました</p>
<p>2016/03/19 テーブルを少しコンパクトにしました</p>
<p>2016/03/13 BAD数の入力を必須とせず、メダルのみの登録もできるようにしました</p>
<p>2016/03/12 おみくじページでレベルを範囲指定できるようにしました</p>
<p>2016/03/10 ランキング詳細ページからでも記録を編集できるようにしました</p>
<p>2016/03/09 おみくじ機能を追加しました</p>
<p>2016/03/08 一部のブラウザでBAD数を入力しなくても記録を登録できてしまう問題を修正しました</p>
<p>2016/03/08 記録更新内容のツイート機能を追加しました</p>
<p>2016/03/07 S乱Lv1、Lv2の曲を正しく取得できていなかった問題を修正しました</p>
<p>2016/03/06 スパランドットコム 開設</p>

<h2 class="page-header">免責事項</h2>
<p>当サイトは、利用者に通知することなく，本サービスの内容を変更または本サービスの提供を中止することができるものとします。</p>
<p>サーバーの不具合による本サービスのデータ破損、または管理者の意図によるデータの変更に関して、一切の保証を行いません。</p>
<p>以下の行為を行った利用者に関して、管理者は事前の通知、承諾なしにデータの変更またはアカウントを停止することができるものとします。</p>
<ul>
    <li>・他のプレイヤーに成りすます行為</li>
    <li>・意図的に虚偽のデータを登録してランキングを荒らす行為</li>
    <li>・プロフィールに公序良俗に反する内容を記述する行為</li>
    <li>・その他管理者が不適切と判断する行為</li>
</ul>
<p>当サイト及び、外部リンク先のサイトを利用したことにより発生した、いかなる損失・損害についても当サイトは一切の責任と義務を負いません。</p>

<h2 class="page-header">お問い合わせ</h2>
<p>当サイトに関するお問い合わせは以下の連絡先までお願い致します。</p>
<p>ご意見、ご要望等ございましたらお気軽にご連絡ください。m(_ _)m</p>
<br>
<p>Twitter: <a href="https://twitter.com/darum1system" target="_blank">@darum1system</a></p>
<p>E-mail: <a href="mailto:info@zen-ume.com">info@zen-ume.com</a></p>
{% endblock %}
