{% extends "base.html" %}

{% block title %}ニュース一覧 - スパランドットコム{% endblock %}

{% block extrahead %}
<meta property="og:title" content="ニュース一覧 - スパランドットコム" />
<meta property="og:type" content="article" />
<meta name="description" content="スパランドットコムのニュース一覧ページです。">
{% endblock %}

{% block content %}
<h1 class="page-header">ニュース一覧</h1>
<p>難易度表の更新情報をお知らせします。</p>
<br>
<div id="news">
    <div class="news">
        <p class="date">2020/03/22</p>
        <div class="article addition"><p class="content"><a href="/ranking/detail/807/">ラメント(UPPER)(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/808/">Lachryma《Re:Queen'M》(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/809/">zeeros(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/810/">プログレ(子供の落書き帳)(UPPER)(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/811/">nostos(UPPER)(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/812/">Trill auf G(EX)</a> が追加されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/104/">ソーサリープログレッシヴ(EX)</a> の情報が更新されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/813/">Invisible Farewell(EX)</a> が追加されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/93/">たまごの物理科学的 及び調理特性に関しての調査、そしてその考察(EX)</a> の情報が更新されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/814/">祭ノ痕、君ヲ憶フ。(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/815/">cucumis melo(EX)</a> が追加されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/164/">理系ポップ(EX)</a> の情報が更新されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/816/">一触即発☆禅ガール(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/817/">station CRUX(EX)</a> が追加されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/536/">凛として咲く花の如く ~ひなビタ♪edition~(EX)</a> の情報が更新されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/818/">ボタン(EX)</a> が追加されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/220/">黒点(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/686/">なごりさえ(EX)</a> の情報が更新されました</p></div>
    </div>
    <div class="news">
        <p class="date">2020/03/21</p>
        <div class="article addition"><p class="content"><a href="/ranking/detail/806/">Popperz Chronicle(EX)</a> が追加されました</p></div>
    </div>
    <div class="news">
        <p class="date">2020/02/24</p>
        <div class="article addition"><p class="content"><a href="/ranking/detail/795/">ワールドツアー(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/796/">ソウル(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/797/">キネマ(EX)</a> が追加されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/409/">デスナワ(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/566/">恋活ミュージカル(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/404/">スピットロック(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/488/">てくのほそみち(EX)</a> の情報が更新されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/798/">Welcome!!(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/799/">ヒミツダイヤル(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/800/">サイバーシンフォニックポップ(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/801/">バイナリスター(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/802/">ナイト・オブ・ロンド(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/803/">white night story(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/804/">Be blossom!!(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/805/">モザイクロール(EX)</a> が追加されました</p></div>
    </div>
    <div class="news">
        <p class="date">2020/02/04</p>
        <div class="article update"><p class="content"><a href="/ranking/detail/685/">Floccinaucinihilipilification(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/698/">六兆年と一夜物語(EX)</a> の情報が更新されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/794/">toy boxer(EX)</a> が追加されました</p></div>
    </div>
    <div class="news">
        <p class="date">2019/12/26</p>
        <div class="article addition"><p class="content"><a href="/ranking/detail/791/">Little Little Princess(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/792/">ヴィジュアル3(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/793/">クラシック11(H)</a> が追加されました</p></div>
    </div>
    <div class="news">
        <p class="date">2019/12/22</p>
        <div class="article addition"><p class="content"><a href="/ranking/detail/785/">ネリと琥珀糖(EX)</a> が追加されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/727/">クラブジャズ(EX)</a> の情報が更新されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/786/">ウィンターポップ(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/787/">ラメント(UPPER)(H)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/788/">zeeros(H)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/789/">春の雪(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/790/">千本桜(EX)</a> が追加されました</p></div>
    </div>
    <div class="news">
        <p class="date">2019/12/14</p>
        <div class="article addition"><p class="content"><a href="/ranking/detail/783/">紅焔(Live Version)(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/784/">Butter-FLY(EX)</a> が追加されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/750/">voltississimo(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/549/">SailRen(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/574/">リリーゼと炎龍レーヴァテイン(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/58/">ヒップロック3(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/575/">霖が哭く(EX)</a> の情報が更新されました</p></div>
    </div>
    <div class="news">
        <p class="date">2019/12/12</p>
        <div class="article addition"><p class="content"><a href="/ranking/detail/782/">luck(EX)</a> が追加されました</p></div>
    </div>
    <div class="news">
        <p class="date">2019/12/11</p>
        <div class="article addition"><p class="content"><a href="/ranking/detail/777/">Sacrifice Escape: 不条理の模倣による感情と代償(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/778/">insist(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/779/">ウラ・パーカッシヴ(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/780/">ヒカリユリイカ(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/781/">さよならのうた(EX)</a> が追加されました</p></div>
    </div>
    <div class="news">
        <p class="date">2019/11/11</p>
        <div class="article update"><p class="content"><a href="/ranking/detail/470/">パーカッシヴ2(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/477/">プラチナムファンタジア(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/419/">イークリニック(EX)</a> の情報が更新されました</p></div>
    </div>
    <div class="news">
        <p class="date">2019/11/04</p>
        <div class="article addition"><p class="content"><a href="/ranking/detail/773/">25 o’clock the WORLD(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/774/">Festum Duodecimum!(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/775/">令和の国(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/776/">少女と時の花(EX)</a> が追加されました</p></div>
    </div>
    <div class="news">
        <p class="date">2019/10/23</p>
        <div class="article addition"><p class="content"><a href="/ranking/detail/770/">25 o’clock the WORLD(H)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/771/">ラベンダー最終定理(EX)</a> が追加されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/333/">ターバン(EX)</a> の情報が更新されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/772/">スライ(EX)</a> が追加されました</p></div>
    </div>
    <div class="news">
        <p class="date">2019/10/19</p>
        <div class="article update"><p class="content"><a href="/ranking/detail/768/">テクノ'80(EX)</a> の情報が更新されました</p></div>
    </div>
    <div class="news">
        <p class="date">2019/10/18</p>
        <div class="article update"><p class="content"><a href="/ranking/detail/332/">クラシック10(EX)</a> の情報が更新されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/769/">モダン'80(EX)</a> が追加されました</p></div>
    </div>
    <div class="news">
        <p class="date">2019/10/16</p>
        <div class="article update"><p class="content"><a href="/ranking/detail/761/">Les Jouets Sonore(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/758/">カドルコア(guitar pop ver.)(UPPER)(EX)</a> の情報が更新されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/764/">ヘビーメタル(H)</a> が追加されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/759/">50th Memorial Songs -Beginning Story-(EX)</a> の情報が更新されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/765/">Usual Days-remix(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/766/">Grave Strike(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/767/">たぶん、キスくらいしてる(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/768/">テクノ'80(EX)</a> が追加されました</p></div>
    </div>
    <div class="news">
        <p class="date">2019/10/13</p>
        <div class="article addition"><p class="content"><a href="/ranking/detail/752/">BILLION MONEY BAZOOKA(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/753/">50th Memorial Songs -The BEMANI History-(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/754/">♥LOVE² シュガ→♥ (かめりあ&ななひら's Over-Sweet-Dempa ♥LOVE² シュガ→♥な恋愛教室 Remix)(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/755/">六花美人(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/756/">Afterimage d'automne(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/757/">The last of world music(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/758/">カドルコア(guitar pop ver.)(UPPER)(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/759/">50th Memorial Songs -Beginning Story-(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/760/">50th Memorial Songs -二人の時～under the cherry blossoms～-(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/761/">Les Jouets Sonore(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/762/">Trill auf G(H)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/763/">voltississimo(H)</a> が追加されました</p></div>
    </div>
    <div class="news">
        <p class="date">2019/10/12</p>
        <div class="article addition"><p class="content"><a href="/ranking/detail/751/">ゴーストルール(EX)</a> が追加されました</p></div>
    </div>
    <div class="news">
        <p class="date">2019/10/08</p>
        <div class="article update"><p class="content"><a href="/ranking/detail/737/">ヘビーメタル(EX)</a> の情報が更新されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/749/">最小三倍完全数(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/750/">voltississimo(EX)</a> が追加されました</p></div>
    </div>
    <div class="news">
        <p class="date">2019/10/05</p>
        <div class="article addition"><p class="content"><a href="/ranking/detail/748/">おねがいダーリン(EX)</a> が追加されました</p></div>
    </div>
    <div class="news">
        <p class="date">2019/10/02</p>
        <div class="article addition"><p class="content"><a href="/ranking/detail/747/">CARNIVOROUS(EX)</a> が追加されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/319/">ハイパージャパネスク3(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/650/">爆臨！！イナカイザー！！(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/559/">リリーゼと炎龍レーヴァテイン(H)</a> の情報が更新されました</p></div>
    </div>
    <div class="news">
        <p class="date">2019/09/08</p>
        <div class="article addition"><p class="content"><a href="/ranking/detail/723/">BLAZE∞BREEZE(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/724/">モダニズム(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/725/">50th Memorial Songs -Flagship medley-(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/726/">ダークネス2(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/727/">クラブジャズ(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/728/">すろぉもぉしょん(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/729/">ハイテンション(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/730/">biosphere ～天国の花～(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/731/">ウラ・ヒップロック2(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/732/">サイケ(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/733/">Welcome to pop'n fantasy(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/734/">ハイパージャパネスク(UPPER)(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/735/">スコティッシュ(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/736/">ソフトロックLONG(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/737/">ヘビーメタル(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/738/">コアダストビート(UPPER)(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/739/">クラシック8(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/740/">バトルダンス(UPPER)(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/741/">限界食堂(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/742/">Vinculum stellarum(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/743/">レッスン(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/744/">ドラムンフライ(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/745/">アスレチックミート(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/746/">カドルコア(EX)</a> が追加されました</p></div>
    </div>
    <div class="news">
        <p class="date">2019/08/30</p>
        <div class="article addition"><p class="content"><a href="/ranking/detail/717/">革命パッショネイト(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/718/">熱情のサパデアード(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/719/">ナイト・オブ・ナイツ(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/720/">ベビーステップ(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/721/">スイーツはとまらない♪(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/722/">Bad Apple!! feat. nomico(EX)</a> が追加されました</p></div>
    </div>
    <div class="news">
        <p class="date">2019/03/31</p>
        <div class="article update"><p class="content"><a href="/ranking/detail/613/">INF-B《L-aste-R》(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/614/">the Chameleon(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/575/">霖が哭く(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/620/">saQrifice(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/688/">Life is beautiful(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/579/">Spiral Clouds(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/680/">Mirage Age(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/683/">焔華(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/681/">プロレタリア狂騒歌(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/696/">badass girl(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/685/">Floccinaucinihilipilification(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/697/">Phlox(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/261/">禅ジャズ(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/302/">エモーショナルデュオ(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/630/">爆なな☆てすとロイヤー(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/632/">シノビシノノメ(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/649/">ジオメトリック∮ティーパーティー(H)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/634/">キリステゴメン(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/660/">o†o(H)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/671/">SHION(VENUS mix)(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/713/">辿る君を超えて(H)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/712/">恋のパズルマジック(EX)</a> の情報が更新されました</p></div>
    </div>
    <div class="news">
        <p class="date">2019/03/16</p>
        <div class="article addition"><p class="content"><a href="/ranking/detail/716/">Timepiece phase II(EX)</a> が追加されました</p></div>
    </div>
    <div class="news">
        <p class="date">2019/03/04</p>
        <div class="article addition"><p class="content"><a href="/ranking/detail/715/">SUPER SUMMER SALE(EX)</a> が追加されました</p></div>
    </div>
    <div class="news">
        <p class="date">2019/02/27</p>
        <div class="article update"><p class="content"><a href="/ranking/detail/681/">プロレタリア狂騒歌(EX)</a> の情報が更新されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/695/">TRUTH behind U(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/696/">badass girl(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/697/">Phlox(EX)</a> が追加されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/685/">Floccinaucinihilipilification(EX)</a> の情報が更新されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/698/">六兆年と一夜物語(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/699/">nalca(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/700/">ゴールデンハート ft. Kimberley Nutbey(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/701/">Chaos：Q(H)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/702/">恋時雨(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/703/">銃弾は解を撃ち抜いて(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/704/">おいかけっこワールド(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/705/">Be a Hero!(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/706/">LOTUS(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/707/">Rejoin(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/708/">ギンギンパーレー!!(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/709/">K∀MUY(H)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/710/">星座が恋した瞬間を。(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/711/">羊皮紙の上の銀河(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/712/">恋のパズルマジック(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/713/">辿る君を超えて(H)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/714/">Prey(H)</a> が追加されました</p></div>
    </div>
    <div class="news">
        <p class="date">2019/02/15</p>
        <div class="article addition"><p class="content"><a href="/ranking/detail/690/">ふること(UPPER)(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/691/">西馬込交通曲(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/692/">BabeL ~MODEL DD101~(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/693/">カウボーイ(UPPER)(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/694/">ANNIVERSARY ∴∵∴ ←↓↑→(EX)</a> が追加されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/529/">巻寿司戦隊ウマイヤン ~コードネームはグリーン~(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/530/">激アツ☆マジヤバ☆チアガール(EX)</a> の情報が更新されました</p></div>
    </div>
    <div class="news">
        <p class="date">2019/02/13</p>
        <div class="article addition"><p class="content"><a href="/ranking/detail/687/">La fame di Adria(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/688/">Life is beautiful(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/689/">Puberty Dysthymia(EX)</a> が追加されました</p></div>
    </div>
    <div class="news">
        <p class="date">2019/02/10</p>
        <div class="article addition"><p class="content"><a href="/ranking/detail/680/">Mirage Age(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/681/">プロレタリア狂騒歌(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/682/">H@appy Fever Forever!!(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/683/">焔華(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/684/">High Gravity(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/685/">Floccinaucinihilipilification(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/686/">なごりさえ(EX)</a> が追加されました</p></div>
    </div>
    <div class="news">
        <p class="date">2019/02/07</p>
        <div class="article addition"><p class="content"><a href="/ranking/detail/679/">BabeL 〜MODEL DD101～(H)</a> が追加されました</p></div>
    </div>
    <div class="news">
        <p class="date">2019/01/30</p>
        <div class="article addition"><p class="content"><a href="/ranking/detail/663/">ぼくらの16bit戦争(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/664/">home.(kors k Remix)(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/665/">マイアガル、マイオドル(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/666/">Come to Life(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/667/">Burning Love(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/668/">Catch Our Fire!(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/669/">Dive to the Sky(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/670/">PM is Here！(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/671/">SHION(VENUS mix)(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/672/">Sprite Digital(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/673/">雪夜の森のプリャースカ(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/674/">Time has no money(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/675/">幻島アトランティス-4elements-(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/676/">ブーケトス戦争(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/677/">いつまでやったって、別にいいじゃない！？(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/678/">飛べないぼくと鳴かない黒猫(EX)</a> が追加されました</p></div>
    </div>
    <div class="news">
        <p class="date">2018/11/06</p>
        <div class="article addition"><p class="content"><a href="/ranking/detail/662/">L-an!ma(H)</a> が追加されました</p></div>
    </div>
    <div class="news">
        <p class="date">2018/10/29</p>
        <div class="article addition"><p class="content"><a href="/ranking/detail/658/">Prey(EX)</a> が追加されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/527/">Warriors Aboot(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/82/">クラシック9(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/96/">Cleopatrysm(EX)</a> の情報が更新されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/659/">nostos(EX)</a> が追加されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/582/">Arcanos(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/176/">カグランジ(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/232/">ハッピーサッドコア(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/625/">Pacify(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/328/">セツナトリップ(EX)</a> の情報が更新されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/660/">o†o(H)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/661/">花のやくそく(EX)</a> が追加されました</p></div>
    </div>
    <div class="news">
        <p class="date">2018/10/21</p>
        <div class="article addition"><p class="content"><a href="/ranking/detail/646/">ZEPHYRANTHES(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/647/">Scarlet Pinheel(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/648/">アキネイション(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/649/">ジオメトリック∮ティーパーティー(H)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/650/">爆臨！！イナカイザー！！(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/651/">Windy Fairy(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/652/">Sephirot(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/653/">Ophelia(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/654/">Endless Moon -LUNA-(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/655/">Beyond the prairie(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/656/">フラッター現象の顛末と単一指向性の感情論(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/657/">恋愛観測 -VENUS Mix-(EX)</a> が追加されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/422/">運命のパラドックス(EX)</a> の情報が更新されました</p></div>
    </div>
    <div class="news">
        <p class="date" style="color:red">2018/09/14</p>
        <div class="article text"><p class="content">S乱難易度表の最高レベルが Lv18 から Lv19 に変更されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/644/">o†o(EX)</a> が追加されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/573/">Chaos：Q(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/1/">サイレント(EX)</a> の情報が更新されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/645/">辿る君を超えて(EX)</a> が追加されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/7/">DIAVOLO(EX)</a> の情報が更新されました</p></div>
    </div>
    <div class="news">
        <p class="date">2018/09/03</p>
        <div class="article addition"><p class="content"><a href="/ranking/detail/643/">玄兎ノ舞(EX)</a> が追加されました</p></div>
    </div>
    <div class="news">
        <p class="date">2018/09/02</p>
        <div class="article addition"><p class="content"><a href="/ranking/detail/642/">virtual killer(EX)</a> が追加されました</p></div>
    </div>
    <div class="news">
        <p class="date">2018/04/16</p>
        <div class="article update"><p class="content"><a href="/ranking/detail/157/">姫コア(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/627/">乞い祈みの撫子(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/625/">Pacify(EX)</a> の情報が更新されました</p></div>
    </div>
    <div class="news">
        <p class="date">2018/04/09</p>
        <div class="article update"><p class="content"><a href="/ranking/detail/615/">Sky High(EX)</a> の情報が更新されました</p></div>
    </div>
    <div class="news">
        <p class="date">2018/03/29</p>
        <div class="article addition"><p class="content"><a href="/ranking/detail/612/">K∀MUY(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/613/">INF-B《L-aste-R》(EX)</a> が追加されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/551/">XROSS INFECTION(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/27/">ゾディアックオラクル7(EX)</a> の情報が更新されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/614/">the Chameleon(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/615/">Sky High(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/616/">Black Emperor(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/617/">GOLDEN CROSS(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/618/">人妖絵巻其の三「鴉天狗」~ 鞍馬のHAYATE ~(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/619/">forever under construction(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/620/">saQrifice(EX)</a> が追加されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/527/">Warriors Aboot(EX)</a> の情報が更新されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/621/">Mychronicle(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/622/">Dance to Blue (Respect Style)(EX)</a> が追加されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/93/">たまごの物理科学的 及び調理特性に関しての調査、そしてその考察(EX)</a> の情報が更新されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/623/">STERLING SILVER(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/624/">Monkshood(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/625/">Pacify(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/626/">黎明スケッチブック(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/627/">乞い祈みの撫子(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/628/">けもののおうじゃ★めうめう(EX)</a> が追加されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/511/">サケビノミドリ(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/537/">ON-DO(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/168/">532nm(EX)</a> の情報が更新されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/629/">ミラクル・スイート・スイーツ・マジック！！(EX)</a> が追加されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/512/">ACCELERATION(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/587/">Jack in the Box(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/200/">Hatcha Metcha Party(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/513/">ファンクフィーバー(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/595/">空想モダニズム(EX)</a> の情報が更新されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/630/">爆なな☆てすとロイヤー(EX)</a> が追加されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/254/">乾坤一擲(EX)</a> の情報が更新されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/631/">Last Traveller(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/632/">シノビシノノメ(EX)</a> が追加されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/283/">オイパンク(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/519/">3 A.M. ディテクティブ・ゲーム(EX)</a> の情報が更新されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/633/">Drizzly Venom(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/634/">キリステゴメン(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/635/">Strawberry Chu♡Chu♡(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/636/">向日葵サンセット(EX)</a> が追加されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/531/">perditus†paradisus(H)</a> の情報が更新されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/637/">リモーネ・ディ・マッキーナ(EX)</a> が追加されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/445/">戦場のアップデート(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/375/">エモーショナル(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/391/">アフロパーカッションパーティー(EX)</a> の情報が更新されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/638/">90G Race(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/639/">リンゴロジック(green apple rmx)(EX)</a> が追加されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/422/">運命のパラドックス(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/608/">@you(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/611/">トウキョウ・ドリーム・ポップ(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/498/">幻想系世界修復少女(EX)</a> の情報が更新されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/640/">キミとワタシのオンガク(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/641/">Luna hare et cetera(EX)</a> が追加されました</p></div>
    </div>
    <div class="news">
        <p class="date">2017/09/05</p>
        <div class="article addition"><p class="content"><a href="/ranking/detail/574/">リリーゼと炎龍レーヴァテイン(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/575/">霖が哭く(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/576/">moon_child(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/577/">霊魂爆砕 -SOUL EXPLOSION-(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/578/">未完成ノ蒸氣驅動乙女(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/579/">Spiral Clouds(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/580/">キルト(Patchworker RMX)(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/581/">I just hate you(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/582/">Arcanos(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/583/">Nove Primavere(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/584/">La Lumiere(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/585/">如雨露姫が世界征服(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/586/">週替わりの奇跡の神話(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/587/">Jack in the Box(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/588/">魂依(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/589/">そこはかとなくロマンセ(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/590/">メンテナンス物語(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/591/">哀彩(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/592/">Spangles(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/593/">君の音とAuftakt(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/594/">SPACE CRASH LANDING(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/595/">空想モダニズム(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/596/">取り残された美術(Arranged:HiZuMi)(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/597/">Over Da Moon(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/598/">アルレシャ(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/599/">ロンロンへ ライライライ！(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/600/">ドッペルゲンガー(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/601/">НУМЛ(H)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/602/">朝までワンモアラブリー(onemore 90's lovery)(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/603/">Sing a Song Sign(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/604/">Akash(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/605/">Fly far bounce(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/606/">Another Texture(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/607/">Doo-Wah×Chu!Chu!(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/608/">@you(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/609/">24/7 Popperz(H)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/610/">人妖絵巻其の一「狐」～紅楼の夢～(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/611/">トウキョウ・ドリーム・ポップ(EX)</a> が追加されました</p></div>
    </div>
    <div class="news">
        <p class="date">2017/08/30</p>
        <div class="article addition"><p class="content"><a href="/ranking/detail/573/">Chaos：Q(EX)</a> が追加されました</p></div>
    </div>
    <div class="news">
        <p class="date">2017/07/31</p>
        <div class="article addition"><p class="content"><a href="/ranking/detail/571/">Funky sonic World(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/572/">蟲の棲む処(EX)</a> が追加されました</p></div>
    </div>
    <div class="news">
        <p class="date">2017/06/17</p>
        <div class="article addition"><p class="content"><a href="/ranking/detail/560/">beat it together(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/561/">Sweet Sweet Sweet.(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/562/">零の位相(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/563/">MAGICAL SUMMER SMILE(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/564/">FUNKY SUMMER BEACH(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/565/">EBONY &amp; IVORY(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/566/">恋活ミュージカル(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/567/">天体カレイドスコープ(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/568/">CRAZY WORLD(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/569/">Into the Wind(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/570/">ぽかぽかレトロード(EX)</a> が追加されました</p></div>
    </div>
    <div class="news">
        <p class="date">2017/04/05</p>
        <div class="article update"><p class="content"><a href="/ranking/detail/118/">ませまてぃっく?ま＋ま＝まじっく！(EX)</a> の情報が更新されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/555/">懐色坂(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/556/">星屑ブレスレット(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/557/">ME-GA-NE-HA-ZU-SE(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/558/">人妖絵巻其の二「鬼」~夜叉の祭は終夜~(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/559/">リリーゼと炎龍レーヴァテイン(H)</a> が追加されました</p></div>
    </div>
    <div class="news">
        <p class="date">2017/03/10</p>
        <div class="article addition"><p class="content"><a href="/ranking/detail/551/">XROSS INFECTION(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/552/">LEAD Gravity (M)(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/553/">旗(Mystic Mix)(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/554/">防人想歌(EX)</a> が追加されました</p></div>
    </div>
    <div class="news">
        <p class="date">2017/02/17</p>
        <div class="article addition"><p class="content"><a href="/ranking/detail/549/">SailRen(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/550/">ほおずき程度には赤い頭髪(EX)</a> が追加されました</p></div>
    </div>
    <div class="news">
        <p class="date">2017/02/16</p>
        <div class="article addition"><p class="content"><a href="/ranking/detail/547/">НУМЛ(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/548/">24／7 Popperz(EX)</a> が追加されました</p></div>
    </div>
    <div class="news">
        <p class="date">2017/02/06</p>
        <div class="article update"><p class="content"><a href="/ranking/detail/433/">デモンズメタル(EX)</a> の情報が更新されました</p></div>
    </div>
    <div class="news">
        <p class="date">2017/01/29</p>
        <div class="article addition"><p class="content"><a href="/ranking/detail/546/">チルノのパーフェクトさんすう教室(EX)</a> が追加されました</p></div>
    </div>
    <div class="news">
        <p class="date" style="color:red">2016/12/23</p>
        <div class="article text"><p class="content">S乱難易度表の Lv16 が2段階に分割され、上限が Lv17 から Lv18 に変更されました</p></div>
    </div>
    <div class="news">
        <p class="date">2016/12/16</p>
        <div class="article addition"><p class="content"><a href="/ranking/detail/545/">good night, mommy(EX)</a> が追加されました</p></div>
    </div>
    <div class="news">
        <p class="date">2016/11/29</p>
        <div class="article addition"><p class="content"><a href="/ranking/detail/544/">DEVILs Magic(EX)</a> が追加されました</p></div>
    </div>
    <div class="news">
        <p class="date">2016/10/26</p>
        <div class="article addition"><p class="content"><a href="/ranking/detail/543/">怒りと共に去りぬ！！(EX)</a> が追加されました</p></div>
    </div>
    <div class="news">
        <p class="date">2016/10/23</p>
        <div class="article addition"><p class="content"><a href="/ranking/detail/540/">StrayedCatz(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/541/">Angelic Jelly(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/542/">黒髪乱れし修羅となりて～凛 edition～(EX)</a> が追加されました</p></div>
    </div>
    <div class="news">
        <p class="date">2016/10/13</p>
        <div class="article addition"><p class="content"><a href="/ranking/detail/539/">Triple Counter(EX)</a> が追加されました</p></div>
    </div>
    <div class="news">
        <p class="date">2016/10/10</p>
        <div class="article addition"><p class="content"><a href="/ranking/detail/538/">Grand Chariot(EX)</a> が追加されました</p></div>
    </div>
    <div class="news">
        <p class="date">2016/10/07</p>
        <div class="article update"><p class="content"><a href="/ranking/detail/153/">ゾディアックオラクル1(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/177/">ビーストメタル(EX)</a> の情報が更新されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/536/">凛として咲く花の如く ～ひなビタ♪ edition～(EX)</a> が追加されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/511/">サケビノミドリ(EX)</a> の情報が更新されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/537/">ON-DO(EX)</a> が追加されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/156/">下克上ドラムンベース(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/165/">わんわんコア(EX)</a> の情報が更新されました</p></div>
    </div>
    <div class="news">
        <p class="date">2016/09/27</p>
        <div class="article addition"><p class="content"><a href="/ranking/detail/535/">混乱少女♥そふらんちゃん!!(EX)</a> が追加されました</p></div>
    </div>
    <div class="news">
        <p class="date">2016/09/16</p>
        <div class="article addition"><p class="content"><a href="/ranking/detail/533/">CHERNOBOG(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/534/">trideca(EX)</a> が追加されました</p></div>
    </div>
    <div class="news">
        <p class="date">2016/09/15</p>
        <div class="article addition"><p class="content"><a href="/ranking/detail/524/">在るが儘に(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/525/">SYMPHONY FROM ZERO(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/526/">MADSPEED狂信道(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/527/">Warriors Aboot(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/528/">On top of the world(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/529/">巻寿司戦隊ウマイヤン ~コードネームはグリーン~(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/530/">激アツ☆マジヤバ☆チアガール(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/531/">perditus†paradisus(H)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="/ranking/detail/532/">ほしふり Re:pray(EX)</a> が追加されました</p></div>
    </div>
    <div class="news">
        <p class="date">2016/09/13</p>
        <div class="article addition"><p class="content"><a href="/ranking/detail/523/">時の妖花(EX)</a> が追加されました</p></div>
    </div>
    <div class="news">
        <p class="date">2016/09/09</p>
        <div class="article update"><p class="content"><a href="{% url 'main:ranking_detail' 66 %}">流離(EX)</a> の情報が更新されました</p></div>
        <div class="article addition"><p class="content"><a href="{% url 'main:ranking_detail' 522 %}">Trixxxter(EX)</a> が追加されました</p></div>
    </div>
    <div class="news">
        <p class="date">2016/09/08</p>
        <div class="article update"><p class="content"><a href="{% url 'main:ranking_detail' 53 %}">プログレッシブ(Concertino In Blue)(EX)</a> の情報が更新されました</p></div>
    </div>
    <div class="news">
        <p class="date">2016/07/27</p>
        <div class="article addition"><p class="content"><a href="{% url 'main:ranking_detail' 521 %}">Dimension Gale(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="{% url 'main:ranking_detail' 520 %}">打打打打打打打打打打(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="{% url 'main:ranking_detail' 519 %}">3 A.M. ディテクティブ・ゲーム(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="{% url 'main:ranking_detail' 518 %}">デュスノミア(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="{% url 'main:ranking_detail' 517 %}">Fate No.23(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="{% url 'main:ranking_detail' 516 %}">造花の貌(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="{% url 'main:ranking_detail' 515 %}">popcorn parade(EX)</a> が追加されました</p></div>
    </div>
    <div class="news">
        <p class="date">2016/06/03</p>
        <div class="article addition"><p class="content"><a href="{% url 'main:ranking_detail' 514 %}">INHERITANCE of WILL(EX)</a> が追加されました</p></div>
    </div>
    <div class="news">
        <p class="date">2016/06/01</p>
        <div class="article update"><p class="content"><a href="{% url 'main:ranking_detail' 29 %}">RINИE(EX)</a> の情報が更新されました</p></div>
    </div>
</div>
{% endblock %}
