{% extends "base.html" %}

{% block title %}ニュース一覧 - スパランドットコム{% endblock %}

{% block extrahead %}
<meta name="description" content="スパランドットコムのニュース一覧ページです。">
{% endblock %}

{% block content %}
<h1 class="page-header">ニュース一覧</h2>
<p>難易度表の更新情報をお知らせします。</p>
<br>
<div id="news">
    <div class="news">
        <p class="date">2016/09/13</p>
        <div class="article addition"><p class="content"><a href="/ranking/detail/523/">時の妖花(EX)</a> が追加されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/516/">造花の貌(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/517/">Fate No.23(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/178/">ビビッド(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/179/">大宇宙の法典(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/180/">ハッピーハードコア(SweetSweetMagic)(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/181/">ヒルビリー(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/182/">デパファンク(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/183/">JAM(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/184/">ピラミッド(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/185/">近代絶頂音楽(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/186/">ナニワヒーロー(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/187/">サイバーメタル(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/188/">A.I.ダークネス(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/508/">コルトーン(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/509/">El venenciador(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/202/">僕らの旅はどこまでも(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/189/">ハイνブリープ(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/190/">スペースポップ(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/191/">ブルガリアンリズム(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/192/">スパイREMIX(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/193/">コスモロジカル(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/194/">サイコビリー(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/195/">撫子メタル(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/196/">アニマルミニマル(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/197/">カラーフュージョン(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/198/">ラッキーハードコア(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/199/">徹頭徹尾 Thrive at Perfect Fourth(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/200/">Hatcha Metcha Party(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/201/">√太陽系◎ドーナツ化計画∞∀∞(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/510/">地方創生☆チクワクティクス(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/511/">サケビノミドリ(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/512/">ACCELERATION(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/203/">メガネロック(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/204/">フォレストスノウ(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/205/">ドラムステップ(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/171/">パペットアンサンブル(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/206/">フィーバーヒーロー(EX)</a> の情報が更新されました</p></div>
        <div class="article update"><p class="content"><a href="/ranking/detail/207/">タブランベースREMIX(EX)</a> の情報が更新されました</p></div>
    </div>
    <div class="news">
        <p class="date">2016/09/09</p>
        <div class="article update"><p class="content"><a href="{% url 'main:ranking_detail' 66 %}">流離(EX)</a> の情報が更新されました</p></div>
        <div class="article addition"><p class="content"><a href="{% url 'main:ranking_detail' 522 %}">Trixxxter(EX)</a> が追加されました</p></div>
    </div>
    <div class="news">
        <p class="date">2016/09/08</p>
        <div class="article update"><p class="content"><a href="{% url 'main:ranking_detail' 53 %}">プログレッシブ(Concertino In Blue)(EX)</a> の情報が更新されました</p></div>
    </div>
    <div class="news">
        <p class="date">2016/07/27</p>
        <div class="article addition"><p class="content"><a href="{% url 'main:ranking_detail' 521 %}">Dimension Gale(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="{% url 'main:ranking_detail' 520 %}">打打打打打打打打打打(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="{% url 'main:ranking_detail' 519 %}">3 A.M. ディテクティブ・ゲーム(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="{% url 'main:ranking_detail' 518 %}">デュスノミア(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="{% url 'main:ranking_detail' 517 %}">Fate No.23(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="{% url 'main:ranking_detail' 516 %}">造花の貌(EX)</a> が追加されました</p></div>
        <div class="article addition"><p class="content"><a href="{% url 'main:ranking_detail' 515 %}">popcorn parade(EX)</a> が追加されました</p></div>
    </div>
    <div class="news">
        <p class="date">2016/06/03</p>
        <div class="article addition"><p class="content"><a href="{% url 'main:ranking_detail' 514 %}">INHERITANCE of WILL(EX)</a> が追加されました</p></div>
    </div>
    <div class="news">
        <p class="date">2016/06/01</p>
        <div class="article update"><p class="content"><a href="{% url 'main:ranking_detail' 29 %}">RINИE(EX)</a> の情報が更新されました</p></div>
    </div>
</div>
{% endblock %}
