{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}おみくじ - スパランドットコム{% endblock %}

{% block extrahead %}
<meta name="description" content="スパランドットコムのおみくじページです。今日のスパランおすすめ曲をランダムに選びます！">
<script src="/static/js/music_list.js?v=20161230"></script>
{% endblock %}

{% block content %}
<h1 class="page-header">{% bootstrap_icon "gift" %} おみくじ</h1>

{% if messages %}
<ul id="message-box">
    {% for message in messages %}
        {% if message.tags == 'success' %}
        <li class="{{ message.tags }}">{% bootstrap_icon "ok-sign" %} {{ message }}</li>
        {% elif message.tags == 'error' %}
        <li class="{{ message.tags }}">{% bootstrap_icon "remove-sign" %} {{ message }}</li>
        {% else %}
        <li class="{{ message.tags }}">{% bootstrap_icon "info-sign" %} {{ message }}</li>
        {% endif %}
    {% endfor %}
</ul>
{% endif %}

<p>今日は何が出るかな〜？</p>
<br>
<form class="edit-form form" action="./" method="post">{% csrf_token %}
    {% bootstrap_form sran_level_form %}
    <div class="form-group"><div class="checkbox"><label for="tweet"><input id="tweet" name="tweet" type="checkbox" />{% bootstrap_icon "link" %} おみくじの結果をツイートする</label></div></div>
    {% buttons %}
    <br>
    <input class="btn btn-primary" type="submit" value="おみくじを引く">
    {% endbuttons %}
</form>

{% if music %}
<div id="result">
    <h2 class="page-header">結果</h2>
    <p><a href="{% url 'main:ranking_detail' music.id %}">{{ music.title }} ({{ music.difficulty.difficulty_short }})</a> を引きました！</p>
    <table class="music-list table table-condensed">
        <thead>
            <th>Lv</th>
            <th>曲名</th>
            <th>難易度</th>
            <th>BPM</th>
            <th>メダル</th>
            <th>BAD数</th>
            <th>更新日時</th>
        </thead>
        <tbody>
            <tr id="music-{{ music.id }}">
                <script>$(function() { getClearStatus({{ music.id }}); });</script>
                <td class="level">{{ music.level }} ({{ music.sran_level }})</td>
                <td class="title"><a href="{% url 'main:edit' music.id %}">{{ music.title }}</a></td>
                <td class="difficulty">{{ music.difficulty }}</td>
                <td class="bpm">{{ music.bpm|default:'-' }}</td>
                <td class="medal">
                    <img>
                    <script>$(function() { getMedal({{ music.id }}); });</script>
                </td>
                <td class="bad_count">
                    <script>$(function() { getBadCount({{ music.id }}); });</script>
                </td>
                <td class="updated_at">
                    <script>$(function() { getLatestUpdatedAt({{ music.id }}); });</script>
                </td>
            </tr>
        </tbody>
    </table>
</div><!-- /#result -->
{% endif %}
{% endblock %}
