{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}プレミアムユーザー - スパランドットコム{% endblock %}

{% block extrahead %}
<meta name="description" content="スパランドットコムのプレミアムユーザー登録ページです。">
{% endblock %}

{% block content %}
<h1 class="page-header"><span class="premium">★</span> プレミアムユーザー</h1>
<h2 class="page-header">開発者を支援してください！</h2>
<p>いつもスパランドットコムをご利用頂きありがとうございます。</p>
<p>スパランドットコムや、その他サービスを開発し続けるために、利用者の皆様に支援をお願いしています。</p>
<p>開発者を支援して頂ければ、プレミアムユーザーとなり、当サイトのプレミアム機能をご利用できるようになります。</p>
<p>プレミアムユーザーは月額制ではありません。<b>一度登録して頂ければずっとプレミアム機能が使えます</b>。</p>

<h2 class="page-header" style="margin-top:60px;">プレミアムユーザーでできるようになること</h2>
<h3 style="border-left:5px solid #fff100; padding:10px 0 10px 10px; margin-bottom:15px;">広告を非表示に</h3>
<p><b>全てのページで広告が非表示</b>になり、ページ表示速度が上がります。(特にスマホの場合は<b>すごく軽く</b>なります)</p>
<p>広告は利用者の利便性を低下させるものであるので、本当は設置したくありません。</p>

<h3 style="border-left:5px solid #fff100; padding:10px 0 10px 10px; margin-bottom:15px;">テーマ変更機能</h3>
<p>スパランドットコムのテーマを高級感あふれる「<b>ダークテーマ</b>」に変更できるようになります。</p>

<h3 style="border-left:5px solid #fff100; padding:10px 0 10px 10px; margin-bottom:15px;">CSVエクスポート機能</h3>
<p>スパランドットコムに登録している記録を<b>CSVファイルに出力</b>することができます。</p>
<p>出力したCSVファイルは、表計算ソフトなどで自由に編集できます。</p>

<h3 style="border-left:5px solid #fff100; padding:10px 0 10px 10px; margin-bottom:15px;">その他</h3>
<p>・ヘッダーのユーザー名が<span class="premium" style="font-weight:bold;">金色</span>になります。</p>
<p>・プロフィールページに星が付きます。</p>
<p>・今後、プレミアム機能が増えるかもしれません。</p>

<h2 class="page-header" style="margin-top:60px;">プレミアムユーザーに登録する</h2>
<p>プレミアムユーザーに登録するには、『<a href="http://www.amazon.co.jp/gp/product/B004N3APDM/ref=as_li_ss_tl?ie=UTF8&camp=247&creative=7399&creativeASIN=B004N3APDM&linkCode=as2&tag=zenume-22" target="_blank">Amazonギフト券(Eメールタイプ)</a>』を開発者のメールアドレス宛に送信してください。</p>
<p>2016年3月22日現在、<b>15円から50万円までの任意の金額</b>を選択することが可能です。</p>
<p>ギフトの金額に関わらず、プレミアムユーザーに登録致します。</p>
<br>
<p>Amazonギフト券の入力欄には以下の情報を記入してください。</p>
<div style="background-color:#e5e5e5; padding:20px 15px 10px 15px; margin:20px 0;">
    <p>受取人: <b>info@zen-ume.com</b> (開発者のメールアドレス)</p>
    <p>贈り主: <b>[あなたのユーザー名]</b> (スパランドットコムに登録しているTwitter ID)</p>
    <p>メッセージ: 開発者へコメントがあれば何でもどうぞ。</p>
</div>
<p>※ 返金はできませんので予めご了承ください。</p>
<p>※ プレミアムユーザーに登録してくれた人をこのサイトに掲載するかもしれません。(掲載されたくない方はその旨をメッセージに含めてください)</p>
<p>※ 1週間以上経ってもプレミアムユーザーに登録されない場合は開発者にご連絡ください。</p>

<h2 class="page-header" style="margin-top:60px;">お問い合わせ</h2>
<p>以上について、何かご不明な点がございましたら以下の連絡先にご連絡ください。</p>
<br>
<p>Twitter: <a href="https://twitter.com/darum1system" target="_blank">@darum1system</a></p>
<p>E-mail: <a href="mailto:info@zen-ume.com">info@zen-ume.com</a></p>
{% endblock %}
