{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}開発者に寄付 - スパランドットコム{% endblock %}

{% block extrahead %}
<meta property="og:title" content="開発者に寄付 - スパランドットコム" />
<meta property="og:type" content="article" />
<meta name="description" content="スパランドットコムのプレミアムユーザー登録ページです。">
{% endblock %}

{% block content %}
<h1 class="page-header"><span class="premium">★</span> 開発者に寄付</h1>
<h2 class="page-header">開発者を支援してください</h2>
<p>いつもスパランドットコムをご利用頂きありがとうございます。</p>
<p>スパランドットコムや、その他サービスの開発を継続するために、利用者の皆様にご支援をお願いしています。</p>
<p>開発者を支援してくださった方は、プレミアムユーザーとして登録させて頂きます。</p>
<p>プレミアムユーザーの方には、特典として以下のような機能を追加致します。</p>

<h2 class="page-header" style="margin-top:60px;">プレミアムユーザーの特典</h2>
<h3 style="border-left:5px solid #fff100; padding:10px 0 10px 10px; margin-bottom:15px;">広告を非表示に</h3>
<p><b>全てのページで広告が非表示</b>になり、さらに快適にお使い頂けます。</p>
<p><b>2018/02/15 追記</b>: 久しぶりに広告ありでサイトを見てみたところ不快感がすごかったので、全ユーザーの広告表示をオフにしました。</p>

<h3 style="border-left:5px solid #fff100; padding:10px 0 10px 10px; margin-bottom:15px;">CSVエクスポート機能</h3>
<p>スパランドットコムに登録している記録を<b>CSVファイルに出力</b>することができます。</p>
<p>出力したCSVファイルは、表計算ソフトなどで自由に編集できます。</p>

<h3 style="border-left:5px solid #fff100; padding:10px 0 10px 10px; margin-bottom:15px;">その他</h3>
<p>・ヘッダーのユーザー名が<span class="premium">金色</span>になります。</p>
<p>・プロフィールページに星が付きます。</p>
<p>・（試験段階の機能が追加されたりするかもしれません）</p>

<h2 class="page-header" style="margin-top:60px;">開発者を支援する</h2>
<p>開発者を支援するには、『<a href="http://www.amazon.co.jp/gp/product/B004N3APDM/ref=as_li_ss_tl?ie=UTF8&camp=247&creative=7399&creativeASIN=B004N3APDM&linkCode=as2&tag=zenume-22" target="_blank">Amazonギフト券(Eメールタイプ)</a>』を開発者のメールアドレス宛に送信してください。</p>
<p>2016年3月22日現在、<b>15円から50万円までの任意の金額</b>を選択することが可能です。</p>
<p><b>ギフトの金額に関わらず、プレミアムユーザーに登録致します。</b></p>
<br>
<p>Amazonギフト券の入力欄には以下の情報を記入してください。</p>
<div class="text-box">
    <p>受取人: <b>info@zen-ume.com</b> (開発者のメールアドレス)</p>
    <p>贈り主: <b>[あなたのユーザー名]</b> (スパランドットコムに登録しているTwitter ID)</p>
    <p>メッセージ: 開発者へコメントがあれば何でもどうぞ。</p>
</div>
<p>※ 返金はできませんので予めご了承ください。</p>
<p>※ 1週間以上経ってもプレミアムユーザーに登録されない場合は開発者にご連絡ください。</p>
<p>※ もちろん上記の方法以外でのご支援も大歓迎です。</p>

<h2 class="page-header" style="margin-top:60px;">お問い合わせ</h2>
<p>以上について、何かご不明な点がございましたら以下の連絡先にご連絡ください。</p>
<br>
<p>Twitter: <a href="https://twitter.com/sapuri_tappuri" target="_blank">@sapuri_tappuri</a></p>
<p>E-mail: <a href="mailto:info@zen-ume.com">info@zen-ume.com</a></p>
{% endblock %}
