{% extends "base.html" %}
{% load static %}
{% load bootstrap3 %}

{% block title %}{{ music.title }}({{ music.difficulty }}) - スパランドットコム{% endblock %}

{% block extrahead %}
<meta property="og:title" content="{{ music.title }}({{ music.difficulty }}) - スパランドットコム" />
<meta property="og:type" content="article" />
<meta name="description" content="スパランドットコムのランキング詳細ページです。">
{% endblock %}

{% block content %}
<h1 class="page-header music-title">{% bootstrap_icon "king" %} {{ music.title }} ({{ music.difficulty }})</h1>

{% if messages %}
<ul id="message-box">
    {% for message in messages %}
        {% if message.tags == 'success' %}
        <li class="{{ message.tags }}">{% bootstrap_icon "ok-sign" %} {{ message }}</li>
        {% elif message.tags == 'error' %}
        <li class="{{ message.tags }}">{% bootstrap_icon "remove-sign" %} {{ message }}</li>
        {% else %}
        <li class="{{ message.tags }}">{% bootstrap_icon "info-sign" %} {{ message }}</li>
        {% endif %}
    {% endfor %}
</ul>
{% endif %}

<p><a href="{% url 'main:ranking' music.sran_level %}">{% bootstrap_icon "arrow-left" %} ランキングページへ戻る</a></p>

<h2 class="page-header">楽曲情報</h2>
<p>曲名をクリックすると記録を編集できます。</p>
<table class="table table-condensed">
    <thead>
        <th>Lv</th>
        <th>S乱Lv</th>
        <th>曲名</th>
        <th>難易度</th>
        <th>BPM</th>
        <th>平均BAD数</th>
    </thead>
    <tbody>
        <tr>
            <td class="level">{{ music.level }}</td>
            <td class="sran_level">{{ music.sran_level }}</td>
            <td class="title"><a href="{% url 'main:edit' music.id %}">{{ music.title }}</a></td>
            <td class="difficulty">{{ music.difficulty.difficulty_short }}</td>
            <td class="bpm">{{ music.bpm|default:'-' }}</td>
            <td id="bad_count_avg"></td>
        </tr>
    </tbody>
</table>

<h2 class="page-header">メダル分布</h2>
<table class="table table-condensed">
    <thead>
        <th><img src="{% static 'img/medal/1.png' %}" width="18" height="18"/></th>
        <th><img src="{% static 'img/medal/2.png' %}" width="18" height="18"/></th>
        <th><img src="{% static 'img/medal/3.png' %}" width="18" height="18"/></th>
        <th><img src="{% static 'img/medal/4.png' %}" width="18" height="18"/></th>
        <th><img src="{% static 'img/medal/5.png' %}" width="18" height="18"/></th>
        <th><img src="{% static 'img/medal/6.png' %}" width="18" height="18"/></th>
        <th><img src="{% static 'img/medal/7.png' %}" width="18" height="18"/></th>
        <th><img src="{% static 'img/medal/8.png' %}" width="18" height="18"/></th>
        <th><img src="{% static 'img/medal/9.png' %}" width="18" height="18"/></th>
        <th><img src="{% static 'img/medal/10.png' %}" width="18" height="18"/></th>
        <th><img src="{% static 'img/medal/11.png' %}" width="18" height="18"/></th>
        <th>計</th>
    </thead>
    <tbody>
        <tr>
            <td id="medal-1"></td>
            <td id="medal-2"></td>
            <td id="medal-3"></td>
            <td id="medal-4"></td>
            <td id="medal-5"></td>
            <td id="medal-6"></td>
            <td id="medal-7"></td>
            <td id="medal-8"></td>
            <td id="medal-9"></td>
            <td id="medal-10"></td>
            <td id="medal-11"></td>
            <td id="medal-total"></td>
        </tr>
    </tbody>
</table>

<h2 class="page-header">ランキング</h2>
<table class="music-list table table-condensed">
    <thead>
        <th>順位</th>
        <th>プレイヤー名</th>
        <th>メダル</th>
        <th>BAD数</th>
        <th>更新日時</th>
    </thead>
    <tbody>
        {% for result in results %}
            <tr class="{{ result.status }}">
                <td class="rank">
                    {% if result.user == user %}
                    <b>{{ result.rank|default:'-' }}</b>
                    {% else %}
                    {{ result.rank|default:'-' }}
                    {% endif %}
                </td>
                <td class="player_name">
                    {% if result.user.player_name_privacy == 1 %}
                    <a href="{% url 'users:mypage' result.user %}">{{ result.user.player_name|default:result.user }}</a>
                    {% else %}
                    匿名希望さん
                    {% endif %}
                </td>
                <td class="medal">
                    {% if result.medal.medal %}
                    <img src="{% static 'img/medal/' %}{{ result.medal.medal }}.png" width="18" height="18"/>
                    {% else %}
                    -
                    {% endif %}
                </td>
                <td class="bad_count">
                    {% if result.bad_count.bad_count != None %}
                    {{ result.bad_count.bad_count }}
                    {% else %}
                    -
                    {% endif %}
                </td>
                <td class="updated_at">{{ result.bad_count.updated_at|date:"Y/n/d G:i"|default:'-' }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<script src="{% static 'js/ranking_detail.js' %}"></script>
<script>$(function() { getMedalCount({{ music.id }}); });</script>
<script>$(function() { getBadCountAvg({{ music.id }}); });</script>
{% endblock %}
