{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}ランキング - スパランドットコム{% endblock %}

{% block extrahead %}
<meta name="description" content="スパランドットコムのランキングページです。">
<script src="/static/js/level_select.js"></script>
{% endblock %}

{% block content %}
<h1 class="page-header">{% bootstrap_icon "globe" %} ランキング</h1>

<p>参照するS乱レベルを選択してください。</p>

{% for s_lv in s_lv_range %}
<a href="{% url 'main:ranking' s_lv %}" class="no-decoration"><h3 id="lv{{ s_lv }}" class="level-folder">Lv{{ s_lv }}</h3></a>
<script>$(function() { getFolderLamp({{ s_lv }}, true); });</script>
{% endfor %}
{% endblock %}
